.cart-process {
	position: relative;
	padding: 53px 0 80px 0;
	margin: 0 180px 0 170px;
}
.cart-process .cart-process-line {
	height: 4px;
	background: url(../imgs/cart-line.png) 13px center no-repeat;
	margin-top: 13px;
}
.cart-process .cart-process-item {
	position: absolute;
	top: 53px;
	width: 300px;
}
.cart-process .cart-process-item .cart-process-dots {
	width: 26px;
	height: 26px;
	font-size: 16px;
	color: #999;
	font-weight: bold;
	text-align: center;
	line-height: 26px;
	border-radius: 50%;
	border: 2px solid #979797;
	background-color: #f5f5f5;
	margin: 0 auto;
}
.cart-process .cart-process-item p {
	font-size: 16px;
	line-height: 22px;
	margin-top: 6px;
	text-align: center;
	font-weight: bold;
	color: #333;
}
.cart-process .cart-process-item.current .cart-process-dots {
	width: 30px;
	height: 30px;
	border: none;
	color: #fff;
	background: url(../imgs/cart-p1.png) no-repeat;
}
.cart-process .cart-process-item.current p {
	color: #F26D00;
}
.cart-process .cart-process-item1 {
	left: -150px;
}
.cart-process .cart-process-item2 {
	left: 275px;
}
.cart-process .cart-process-item3 {
	right: -158px;
}

.cart-thead,
.cart-tbody-title {
	padding: 17px 20px 13px;
	background-color: #fff;
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	color: #333;
	text-align: center;
}
.icon-select {
	display: block;
	width: 22px;
	height: 22px;
	cursor: pointer;
	background: url(../imgs/list-off.png) no-repeat;
}
.icon-select.current {
	background: url(../imgs/list-on.png) no-repeat;
}
.cart-col-1 {
	float: left;
	width: 22px;
}
.cart-col-2 {
	float: left;
	width: 543px;
	text-align: left;
}
.cart-col-3 {
	float: left;
	width: 147px;
}
.cart-col-4 {
	float: left;
	width: 100px;
}
.cart-col-5 {
	float: left;
	width: 147px;
}
.cart-col-6 {
	float: left;
	width: 111px;
}
.cart-col-7 {
	float: left;
	width: 90px;
	text-align: left;
}

.cart-thead .cart-col-2 span {
	margin-left: 10px;
}
.cart-thead .cart-col-2 span + span {
	margin-left: 30px;
}

.cart-tbody {
	margin-top: 15px;
	padding-bottom: 30px;
	background-color: #fff;
}
.cart-tbody-title span {
	float: left;
	margin-left: 10px;
}

.cart-tbody-tr {
	padding: 14px 20px;
	text-align: center;
	border-bottom: 1px solid #DCDCDC;
}
.cart-tbody-tr:last-of-type {
	border-bottom: none;
}
.cart-tbody-tr .icon-select {
	margin-top: 30px;
}
.cart-tbody-tr .m-pic {
	float: left;
	width: 80px;
	height: 80px;
	overflow: hidden;
	margin: 0 12px;
}
.cart-tbody-tr .product-name {
	float: left;
	width: 240px;
	font-size: 14px;
	line-height: 20px;
	font-weight: normal;
	height: 60px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	margin-top: 7px;
}
.cart-tbody-tr .product-name:hover a {
	color: #F26D00;
}
.cart-tbody-tr .cart-list-edit {
	float: right;
	margin-right: 10px;
	margin-top: 8px;
	width: 148px;
	padding: 8px 0;
	border: 1px solid #fff;
	position: relative;
	cursor: pointer;
}
.cart-tbody-tr .cart-list-edit p {
	font-size: 14px;
	line-height: 20px;
	text-align: left;
	margin-left: 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.cart-tbody-tr .cart-list-edit::after {
	content: 'Edit';
	position: absolute;
	top: 0;
	right: 0;
	width: 37px;
	height: 19px;
	color: #fff;
	font-size: 14px;
	text-align: center;
	line-height: 19px;
	background-color: #F26D00;
	display: none;
}
.cart-tbody-tr .cart-list-edit:hover {
	border-color: #F26D00;
}
.cart-tbody-tr .cart-list-edit:hover p {
	color: #F26D00;
}
.cart-tbody-tr .cart-list-edit:hover::after {
	display: block;
}
.cart-tbody-tr .base-price {
	margin-top: 25px;
	font-weight: bold;
}
.cart-tbody-tr .base-color {
	color: #F26D00;
	margin-top: 25px;
	font-weight: bold;
}
.cart-tbody-tr .icon-markets {
	display: block;
	width: 14px;
	height: 16px;
	background: url(../imgs/cart-markets.png) no-repeat;
	cursor: pointer;
	margin: 25px auto 0;
}
.cart-tbody-tr .cart-operats {
	padding-top: 16px;
}
.cart-tbody-tr .cart-operats a {
	display: block;
	font-size: 14px;
	color: #333;
	line-height: 22px;
	text-decoration: underline;
}
.cart-tbody-tr .cart-operats a:hover {
	color: #F26D00;
}
.cart-tbody-tr .y_saleleng,
.product-fill-input .y_saleleng {
	display: block;
	float: none;
	margin-right: 0px;
	margin-top: 20px;
	overflow: hidden;
}
.cart-tbody-tr .y_saleleng a, .cart-tbody-tr .y_saleleng input,
.product-fill-input .y_saleleng a, .product-fill-input .y_saleleng input {
	height: 28px;
	line-height: 28px;
	color: #333;
}
.cart-tbody-tr .y_saleleng a,
.product-fill-input .y_saleleng a {
	width: 28px;
	font-size: 26px;
}
.cart-tbody-tr .y_saleleng input,
.product-fill-input .y_saleleng input {
	width: 38px;
}

/*购物车结算*/
.y_cartbalancebox {
	width: 100%;
	height: 60px;
	margin: 16px 0;
}
.y_cartbalance {
	height: 60px;
	background: #fff;
	line-height: 20px;
	font-size: 14px;
}
.y_cartbalance.affix-top {
	position: fixed;
	z-index: 50;
	bottom: 0;
	width: 1200px;
}
.y_cartbalance.affix {
	position: static;
}
.y_cartbalance .y_checkbox {
	float: left;
	margin: 20px;
	font-weight: bold;
}
.y_cartbalance .y_balanclink {
	float: left;
	margin: 20px 10px;
	font-weight: bold;
	text-decoration: underline;
}
.y_cartbalance .y_balanclink:hover {
	color: #F26D00;
}
.y_cartbalance .butn {
	float: right;
	font-size: 20px;
	font-weight: bold;
	line-height: 60px;
	width: 140px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	background-color: #F26D00;
}
.y_cartbalance .y_checkbox {
	overflow: hidden;
}
.y_cartbalance .y_checkbox .icon-select {
	float: left;
	margin-right: 10px;
}
.y_carttotle {
	float: right;
	font-size: 14px;
	font-weight: bold;
	margin: 11px 15px;
}
.y_carttotle span {
	margin-left: 38px;
	vertical-align: middle;
}
.y_carttotle span span {
	font-size: 26px;
	color: #F26D00;
	line-height: 38px;
	margin-left: 6px;
	position: relative;
	top: -3px;
}

/*缺省*/
.cart-empty {
	padding: 1px 0;
	margin: 50px auto 15px;
	background-color: #fff;
}
.cart-empty-img {
	width: 145px;
	height: 105px;
	margin: 80px auto 12px;
}
.cart-empty p {
	font-size: 14px;
	line-height: 20px;
	color: #333;
	font-weight: bold;
	text-align: center;
}
.cart-empty .lay-top-search {
	float: none;
	width: 610px;
	margin: 54px auto 73px;
}

/*订单确认页*/
.confrim-thead {
	padding-left: 30px;
}
.confrim-thead font,
.confrim-tbody .cart-tbody-title font {
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #999;
  text-align: center;
  line-height: 14px;
  font-size: 12px;
  color: #333;
  border-radius: 50%;
  text-decoration: none;
  list-style: none;
  font-weight: normal;
  cursor: pointer;
}
.cart-col-8 {
	float: left;
	width: 360px;
	text-align: left;
}
.cart-col-9 {
	float: left;
	width: 70px;
}
.cart-col-10 {
	float: left;
	width: 202px;
}
.cart-col-11 {
	float: left;
	width: 148px;
}
.cart-col-12 {
	float: left;
	width: 200px;
}
.cart-col-13 {
	float: left;
	width: 170px;
}
.confrim-tbody .cart-tbody-title {
	padding-left: 30px;
	border-bottom: 1px solid #DCDCDC;
}
.confrim-tbody .cart-tbody-title span {
	margin-left: 0;
}
.confrim-tbody .cart-tbody-title label {
	float: left;
	color: #F26D00;
	margin-left: 17px;
}
.confrim-tbody .cart-tbody-title font {
	float: left;
	margin-left: 10px;
	margin-top: 2px;
}
.confrim-tbody .cart-tbody-tr .product-name {
	height: 40px;
	-webkit-line-clamp: 2;
}
.confrim-tbody .product-attr {
	float: left;
	width: 240px;
	font-size: 14px;
	line-height: 20px;
	margin-top: 10px;
	color: #999;
}
.cart-col-11 .icon-select,
.cart-col-12 .icon-select,
.cart-col-13 .icon-select {
	display: block;
	margin: 28px auto 0;
}

.exclusive-procur-wap {
	background-color: #fff;
	margin: 15px 0;
}
.exclusive-procur-head {
	padding: 15px 0 15px 30px;
	height: 20px;
	border-bottom: 1px solid #DCDCDC;
	overflow: hidden;
}
.exclusive-procur-head h6 {
	float: left;
	font-size: 14px;
	line-height: 20px;
	color: #333;
	font-weight: bold;
	margin-right: 17px;
}
.exclusive-procur-head p {
	font-size: 12px;
	line-height: 20px;
	color: #999;
}

.exclusive-procur-wap .hot-cout-rwap {
	padding: 0 30px 10px;
}
.exclusive-procur-wap .hot-cout-rmain .slide {
	padding: 13px 0 16px;
	border-bottom: 1px solid #DCDCDC;
	overflow: hidden;
	zoom: 1;
}
.exclusive-procur-wap .hot-cout-rmain .slide h6 {
	float: left;
	width: 70px;
	color: #333;
	font-size: 14px;
	height: 20px;
	line-height: 20px;
	margin-top: 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.exclusive-procur-wap .hot-cout-rmain .icon-select {
	margin-top: 10px;
}
.exclusive-procur-wap .hot-cout-rmain .m-pic {
	width: 40px;
	height: 40px;
	margin: 0 12px 0 20px;
	border-radius: 50%;
	overflow: hidden;
}
.exclusive-procur-wap .hot-cout-rmain .comment-dots {
	font-size: 0;
	margin-top: 10px;
	margin-right: 30px;
}
.exclusive-procur-wap .hot-cout-rmain .comment-dots span {
	display: inline-block;
	width: 20px;
	height: 19px;
	margin: 0 2px;
	background: url(../imgs/star.png) no-repeat;
}
.exclusive-procur-wap .hot-cout-rmain .comment-dots span.on {
	background: url(../imgs/star-on.png) no-repeat;
}
.exclusive-procur-wap .hot-cout-rmain p {
	float: left;
	font-size: 12px;
	line-height: 20px;
	height: 20px;
	margin-top: 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-right: 4px;
}
.exclusive-procur-wap .hot-cout-rmain p font {
	color: #F26D00;
}
.exclusive-procur-wap .hot-cout-rmain p.p1 {
	width: 160px;
}
.exclusive-procur-wap .hot-cout-rmain p.p2 {
	width: 100px;
}
.exclusive-procur-wap .hot-cout-rmain p.p3 {
	width: 380px;
}
.bx-wrapper .bx-controls-direction a {
	border: 1px solid #979797;
}
.bx-wrapper .bx-controls-direction a.bx-prev {
	border-right: none;
}
.order-list {
	padding: 23px 34px;
	background-color: #fff;
	margin-bottom: 15px;
}
.order-list li {
	font-size: 14px;
	line-height: 28px;
	text-align: right;
	font-weight: bold;
}
.order-list li span {
	color: #F26D00;
}
.order-list li i {
	display: inline-block;
	position: relative;
	top: 5px;
	margin-right: 10px;
}
.order-list li a:hover {
	color: #F26D00;
}
.to-balance-wap {
	height: 60px;
	background-color: #fff;
}
.to-balance-wap a {
	float: right;
	width: 140px;
	font-size: 20px;
	line-height: 60px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	background-color: #F26D00;
	text-transform: uppercase;
}
.to-balance-wap a:hover {
	background-color: #F58B35;
}
.to-balance-wap a.disabled {
	background-color: #ccc;
	color: #999;
	pointer-events: none;
}
.to-balance-wap p {
	float: right;
	font-size: 14px;
	line-height: 60px;
	font-weight: bold;
	margin-right: 15px;
}
.to-balance-wap p span {
	font-size: 26px;
	color: #F26D00;
	margin-left: 8px;
	position: relative;
	top: 2px;
}

/*订单结算*/
.pay-order-detail {
	padding: 43px 40px 15px;
	text-align: center;
	font-size: 14px;
	margin-bottom: 15px;
	background-color: #fff;
}
.pay-order-detail h2 {
	font-size: 24px;
	line-height: 34px;
	text-align: center;
	color: #F26D00;
	font-weight: bold;
	margin-bottom: 5px;
}
.pay-order-detail > p {
	line-height: 20px;
	margin-bottom: 13px;
}
.pay-order-detail > p i {
	display: inline-block;
	width: 18px;
	height: 18px;
	border: 1px solid #F26D00;
	border-radius: 50%;
	position: relative;
    top: 3px;
    margin-right: 5px;
	background: #fff url(../imgs/pay-lock.png) 60% 40% no-repeat;
}
.Order-more {
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	color: #F26D00;
	margin-bottom: 20px;
}
.Order-more .y_more {
	display: inline-block;
	width: 12px;
	height: 7px;
	background: url(../imgs/slider-t.png);
	cursor: pointer;
	transition: transform 0.2s;
}
.Order-more .y_more.active {
	transform: rotate(180deg);
}
.y_sucorderinfo {
	display: none;
	border-top: 1px solid #DCDCDC;
	padding: 14px 10px;
	font-size: 14px;
	line-height: 20px;
	text-align: left;
}
.total-payable {
	background-color: #fff;
	padding: 20px 30px;
	margin-bottom: 15px;
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
}
.total-payable .total-pay-item1 {
	float: left;
	width: 240px;
}
.total-payable .total-pay-item2 {
	float: left;
	width: 645px;
	margin: 0 5px;
}
.total-payable .total-pay-item3 {
	float: right;
	width: 240px;
	text-align: right;
}
.total-payable .total-pay-item3 font {
	font-size: 26px;
	color: #F26D00
}

.payment-list {
	background-color: #fff;
	margin-bottom: 15px;
}
.payment-list li {
	border-bottom: 1px solid #DCDCDC;
}
.payment-list li:last-of-type {
	border-bottom: none;
}
.payment-list .payment-li {
	overflow: hidden;
	zoom: 1;
	padding: 30px;
	border: 3px solid transparent;
}
.pay-select {
	float: left;
	display: block;
	width: 22px;
	height: 22px;
	margin-right: 20px;
	margin-top: 10px;
	background: url(../imgs/pay-select.png) no-repeat;
}
.payment-list li.current .pay-select {
	background: #F26D00 url(../imgs/pay-selected.png) center no-repeat;
	border-radius: 50%;
}
.payment-list li.current .payment-li {
	border-color: #F26D00;
}
.payment-list .payment-li .m-pic {
	float: left;
}
.payment-list .payment-li label {
	float: left;
	font-size: 14px;
	line-height: 40px;
	margin-left: 15px;
}
.payment-list .payment-infos {
	padding-left: 240px;
	display: none;
}
.payment-list li.current .payment-infos {
	display: block;
}
.payment-list .payment-info-title {
	overflow: hidden;
	padding-bottom: 20px;
	border-bottom: 1px solid #DCDCDC;
	margin-bottom: 18px;
}
.payment-list .payment-tit1 {
	float: left;
	width: 130px;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	text-transform: uppercase;
}
.payment-list .payment-info-cont {
	float: left;
	width: 590px;
	font-size: 12px;
	line-height: 18px;
	overflow: hidden;
}
.payment-list .payment-info-cont h6 {
	font-size: 12px;
}
.payment-list .payment-info-cont p {
	margin-top: 3px;
	white-space: nowrap;
	text-overflow: ellipsis;
	height: 18px;
	overflow: hidden;
}
.payment-list .payment-info-title a {
	float: right;
	width: 150px;
	height: 30px;
	font-size: 12px;
	line-height: 30px;
	color: #fff;
	text-align: center;
	background-color: #F26D00;
}
.payment-list .payment-info-title a:hover,
.payment-recnow:hover {
	background-color: #F58B35;
}
.payment-list .payment-info-note {
	font-size: 12px;
	line-height: 18px;
	color: #F26D00
}
.payment-list .payment-info-note h5 {
	text-transform: uppercase;
	color: #F26D00;
}

.pay-btn {
	display: block;
	padding: 10px;
	line-height: 40px;
	font-size: 26px;
	color: #fff;
	text-align: center;
	font-weight: bold;
	background-color: #F26D00;
	margin-bottom: 30px;
}
.pay-btn:active, .pay-btn:focus,
.pay-btn:hover {
	color: #fff;
	background-color: #F58B35;
}
.pay-btn.disabled {
	background-color:#eee;
	color:#bbb;
	cursor: not-allowed;
	pointer-events: none;
}
.pay-bank-transfer {
	padding: 20px 20px 26px;
	background-color: #fff;
}
.pay-bank-transfer h4 {
	font-size: 20px;
	line-height: 28px;
	font-weight: bold;
	padding-bottom: 13px;
	border-bottom: 1px solid #DCDCDC;
}
.pay-bank-transfer ol {
	overflow: hidden;
	zoom: 1;
}
.pay-bank-transfer ol li {
	float: left;
	width: 150px;
	text-align: center;
	font-size: 12px;
	line-height: 18px;
	font-weight: bold;
	margin: 26px 5px 0 15px;
}
.pay-bank-transfer ol li a {
	display: flex;
	height: 58px;
	border: 1px solid #979797;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
}
.pay-bank-transfer ol li.active {
	color: #F26D00
}
.pay-bank-transfer ol li a:hover,
.pay-bank-transfer ol li.active a {
	border-color: #F26D00;
}
.payment-recnow-fl {
	float: left;
	font-size: 16px;
	line-height: 40px;
	color: #F26D00;
	font-weight: bold;
	margin-right: 23px;
}
.payment-recnow {
	float: left;
	width: 100px;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	color: #fff;
	text-align: center;
	background-color: #F26D00;
	margin-top: 5px;
}

/*支付成功页*/
.pay-suc-wap {
	padding: 58px 50px;
	text-align: center;
	margin-top: 50px;
	background-color: #fff;
	font-size: 14px;
	line-height: 20px;
}
.pay-suc-wap .submit-success {
	margin: 0 auto 26px;
}
.pay-suc-wap h5 {
	font-size: 24px;
	line-height: 33px;
	font-weight: 600;
	color: #F26D00;
	margin-bottom: 5px;
}
.pay-suc-wap a {
	display: inline-block;
	width: 200px;
	height: 40px;
	font-size: 14px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	background-color: #F26D00;
	margin-top: 30px;
}
.pay-suc-wap a:hover {
	background-color: #F58B35;
}
.pay-suc-wap a + a {
	margin-left: 10px;
}
.step-mian {
	margin-bottom: 0;
}

/*转运*/
.transfer-models-owl {
	padding: 50px 80px 46px;
	background-color: #fff;
}
.transfer-model-owl li {
	width: 500px;
	margin-bottom: 20px;
}
.transfer-model-owl .trans-stpe {
	font-size: 16px;
	line-height: 30px;
	width: 90px;
	height: 30px;
	text-align: center;
	color: #fff;
	background: url(../imgs/free-down.png) no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	margin-bottom: 15px;
	text-transform: uppercase;
}
.transfer-model-owl li p {
	font-size: 12px;
	line-height: 22px;
	height: 44px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	margin-bottom: 13px;
}
.transfer-model-owl li .m-pic {
	height: 290px;
	background-color: #F5F5F5;
}
.transfer-model-h6 {
	font-size: 14px;
	line-height: 26px;
	color: #F26D00;
	margin-bottom: 8px;
}
.transfer-model-p {
	font-size: 12px;
	line-height: 24px;
}
.dg-platforms-ul.owl-theme .owl-buttons div,
.transfer-model-owl.owl-theme .owl-buttons div {
	width: 19px;
	height: 34px;
	margin-top: -17px;
}
.dg-platforms-ul.owl-theme .owl-buttons .owl-prev,
.transfer-model-owl.owl-theme .owl-buttons .owl-prev {
	left: -53px;
  background: url(../imgs/big-l.png) center no-repeat;
}
.dg-platforms-ul.owl-theme .owl-buttons .owl-next,
.transfer-model-owl.owl-theme .owl-buttons .owl-next {
	right: -43px;
  background: url(../imgs/big-r.png) center no-repeat;
}

.submit-list {
	padding: 20px 30px 63px;
	background-color: #fff;
}
.submit-list .cart-process .cart-process-item p {
	font-size: 14px;
	line-height: 20px;
}

.product-fill-wap {
	padding: 20px;
	border: 1px solid #DCDCDC;
	margin-top: 10px;
}
.product-fill-wap h6 {
	font-size: 16px;
	line-height: 22px;
	color: #F26D00;
	margin-bottom: 16px;
}
.product-fill-input {
	font-size: 0;
	vertical-align: middle;
}

.fill-input-1 {
	width: 380px;
}
.fill-sele1 {
	width: 195px;
}
.product-fill-input .y_saleleng {
	display: inline-block;
	float: none;
	vertical-align: bottom;
	margin-top: 0;
	margin-right: 10px;
}
.fill-input-center {
	width: 77px;
	text-align: center;
}
.fill-input-2 {
	width: 250px;
	margin-right: 0;
}
.y_saleleng a.disabled {
	color: #999 !important;
}


.product-fill-item {
	font-size: 0;
	text-align: right;
	margin: 20px 0;
}
.fill-sele3 {
	text-align: left;
	width: 240px;
}
.fill-sele4 {
	text-align: left;
	width: 240px;
}
.product-item-add {
	display: inline-block;
	vertical-align: bottom;
	width: 270px;
	height: 30px;
	background: #F26D00;
	text-align: center;
	line-height: 30px;
	color: #fff;
	font-size: 14px;
}
.product-item-add span {
	display: inline-block;
	width: 17px;
	height: 17px;
	border-radius: 50%;
	border: 1px solid #fff;
	font-size: 20px;
	text-align: center;
	line-height: 14px;
	color: #fff;
	position: relative;
	margin-right: 4px;
	font-weight: 300;
}

.product-sku-thead > div,
.cart-tbody-tr > div {
	float: left;
}
.cart-col-sk1 {
	width: 350px;
	text-align: left;
}
.cart-col-sk2 {
	width: 180px;
}
.cart-col-sk3 {
	width: 140px;
}
.cart-col-sk4 {
	width: 100px;
}
.cart-col-sk5 {
	width: 140px;
}
.cart-col-sk6 {
	width: 96px;
}
.cart-col-sk7 {
	width: 90px;
}
.product-fill-sku {
	margin-top: 16px;
	padding: 0 20px;
	border: 1px solid #DCDCDC;
}
.product-fill-sku .cart-thead {
	padding-left: 0;
	padding-right: 0;
	border-bottom: 1px solid #DCDCDC;
}
.product-fill-sku .cart-tbody-tr {
	padding-left: 0;
	padding-right: 0;
}
.product-fill-sku .cart-tbody-tr .m-pic {
	margin-left: 0;
}
.product-fill-sku .cart-tbody-tr .base-price.base-fw-n {
	font-weight: normal;
}
.product-fill-sku .cart-tbody-tr .y_saleleng input {
	color: #F26D00;
	font-weight: bold;
}
.product-fill-sku .cart-tbody-tr:last-of-type {
	border-bottom: 1px solid #DCDCDC;
}
.fill-inputorder1 {
	width: 240px;
}
.fill-seleorder2 {
	width: 170px;
}
.product-order-trans.order-list {
	padding-right: 0;
	margin-right: -10px;
}
.product-order-trans.order-list li {
	margin-bottom: 10px;
}
.product-order-trans .fill-select-wap i {
	position: absolute;
  top: 0;
  margin-right: 0;
}
.product-order-confirm {
	height: 50px;
	margin-right: 10px;
}
.product-order-confirm a {
	float: right;
	width: 270px;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	font-weight: bold;
	background-color: #F26D00;
}
.product-order-confirm a:hover {
	background-color: #F58B35;
}

/*代购页*/
.dg-step-top {
	margin-top: 30px;
}
.dg-step-top .step-top-item {
	width: 385px;
	padding: 6px 0 20px;
	margin: 10px 0 2px 10px;
	border-radius: 0 30px 0 0px;
	cursor: pointer;
}
.dg-step-top .step-top-item.active {
	color: #F26D00;
	background-color: #fff;
}
.dg-step-top .step-top-item.active::after {
	background-color: #fff;
}
.dg-step-top .step-top-item.active .step-top-item-l,
.dg-step-top .step-top-item.active .step-top-item-r h5,
.dg-step-top .step-top-item.active .step-top-item-r p {
	color: #F26D00;
}
.dg-step-top .step-top-item .step-top-item-l {
	margin-left: 20px;
}

.transfer-models-owl-dg li > p > span {
	font-weight: bold;
} 
.transfer-models-owl-dg li .trans-stpe-fff {
	background: transparent;
}

.today-offer-list {
	margin-left: -30px;
}
.today-offer-li {
	float: left;
	width: 585px;
	margin-left: 30px;
	background-color: #fff;
	margin-top: 30px;
}
.today-offer-li .today-offer-topimg {
	width: 100%;
	height: 150px;
	overflow: hidden;
}
.today-offer-li ul {
	overflow: hidden;
	zoom: 1;
	padding-top: 30px;
}
.today-offer-li ul li {
	float: left;
	width: 50%;
	padding: 10px 0 32px;
	position: relative;
}
.today-offer-li ul li::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	height: 250px;
	width: 2px;
	background-color: #DCDCDC;
}
.today-offer-li ul li:last-of-type::after {
	display: none;
}
.today-offer-li ul li .m-pic {
	width: 230px;
	height: 230px;
	margin: 0 auto;
}
.today-offer-li ul li .m-pic img {
	width: 100%;
}
.today-offer-li ul li p {
	font-size: 14px;
	line-height: 20px;
	height: 60px;
	overflow: hidden;
	margin: 33px 30px 13px;
}
.today-offer-li ul li span {
	padding-left: 30px;
	font-size: 20px;
	line-height: 28px;
	color: #F26D00;
	font-weight: bold;
}
.today-offer-li ul li:hover p {
	color: #F26D00;
}

.dg-platforms {
	padding: 36px 15px 34px 30px;
	background-color: #fff;
}
.dg-platforms ul li {
	width: 148px;
	height: 58px;
	border: 1px solid #DCDCDC;
}
.dg-platforms ul li a,
.dg-platforms ul li a img {
	display: block;
	width: 100%;
	height: 100%;
}
.dg-platforms-ul.owl-theme .owl-buttons .owl-prev {
	left: -78px;
}
.dg-platforms-ul.owl-theme .owl-buttons .owl-next {
	right: -63px;
}

.exclusive-procur-wap.exclusive-procur-dg .hot-cout-rmain .m-pic {
	margin: 5px 10px 0 4px;
}
.exclusive-procur-wap.exclusive-procur-dg .hot-cout-rmain p.p3 {
	width: 415px;
}
.exclusive-procur-wap.exclusive-procur-dg .hot-cout-rmain li:last-of-type {
	border-bottom: none;
}

.dg-Mailing-items {
	margin-left: -18px;
}
.dg-Mailing-item {
	float: left;
	width: 456px;
	padding: 36px 25px 20px 110px;
	margin-left: 18px;
	margin-bottom: 20px;
	background-color: #fff;
	position: relative;
}
.dg-Mailing-item .m-pic {
	position: absolute;
	top: 40px;
	left: 35px;
	width: 60px;
	height: 60px;
}
.dg-Mailing-item h6 {
	font-size: 16px;
	line-height: 22px;
	color: #F26D00;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: auto;
	font-weight: bold;
	margin-bottom: 7px;
	text-transform: uppercase;
}
.dg-Mailing-item p {
	font-size: 12px;
	line-height: 17px;
	height: 54px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	text-overflow: ellipsis;
}
