@charset "utf-8";
body{font:16px/1.5 "microsoft yahei", Arial, sans-serif;color:#333;background-color:#fafafa;margin:0;padding:0;overflow-x: hidden;}
a{color:#3c3c3c;text-decoration:none;}
a:active,a:focus {text-decoration:none;color:#F26D00;}
a:hover{text-decoration:none;}
a:active,a:focus,input,select,textarea {outline:none;}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{line-height:1;color:#000;font-family:"microsoft yahei";}
ul,ol {list-style-type:none}
li{*vertical-align:top;}
div,a,p,b,em,i,strong,span,img,ul,li,ol,dl,dt,dd,h1,h2,h3,h4,h5,h6,input{margin:0;padding:0;}
img{border:none;vertical-align:top;max-width: 100%;}
strong{font-weight: normal;}

.fl{float:left;}
.fr{float:right;}
.clearfix,.container {zoom:1;}
.clearfix:after,.container:after {content:".";display:block;height:0;visibility:hidden;clear:both;}
.base-color {
	color: #F26D00;
}
.bg-color {
	background-color: #F26D00;
}
.bg {
    background: #fff;
}
.bg_fafafa {
	background-color: #fafafa;
}
.bg_f0 {
	background-color: #f0f0f1;
}
.pos-relate {
	position: relative;
	height: 70px;
}
.jp-content {
	width: 1200px;
	margin: 0 auto;
}
.g-box:before,.g-box:after,.g-section-8:before,.g-section-8:after {
	display: table;
    content: " ";
    clear:both;
}
/*owl-carousel 响应式商品切换基础css*/
.owl-carousel {
	display: none;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer {
	position: relative;
	width: 100%;
	overflow:hidden
}
.owl-carousel .owl-wrapper {
	position: relative;
}
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.owl-carousel .owl-item {
	float: left;
}
.owl-theme .owl-pagination {
	position: absolute;
	left: 0;
	bottom: 10px;
	width: 100%;
	text-align: center;
	padding-top: 2px;
}
.owl-theme .owl-pagination .owl-page {
	display: inline-block;
	*display: inline;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	vertical-align: middle;
	margin: 0 5px;
	cursor: pointer;
	background: #b5b5b5
}
.owl-theme .owl-pagination .owl-page.active {
	background-color: #eb5e58;
}
.owl-theme .owl-buttons div {
	position: absolute;
	width: 20px;
	height: 30px;
	top: 50%;
	margin-top: -15px;
	opacity: 0.7;
	filter:alpha(opacity=70);
	cursor: pointer;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
	z-index: 11;
}
.owl-theme .owl-buttons div:hover {
	opacity: 1;
	filter:alpha(opacity=100);
}
.owl-theme .owl-buttons .owl-prev {
	left:30px;
	background: url(../imgs/top-l.png) center no-repeat;
}
.owl-theme .owl-buttons .owl-next {
	right: 30px;
	background: url(../imgs/top-r.png) center no-repeat;
}

/* 简易栅格布局 */
.g-row {
  zoom: 1;
  margin-left: -5px;
  margin-right: -5px;
}
.col-row-1 {
  width: 8.33333%;
  float: left;
  min-height: 1px;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  box-sizing: border-box; }

.col-row-1:before,
.col-row-1:after {
  display: table;
  content: " "; }

.col-row-1:after {
  clear: both; }

.col-row-2 {
  width: 16.66667%;
  float: left;
  min-height: 1px;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  box-sizing: border-box; }

.col-row-2:before,
.col-row-2:after {
  display: table;
  content: " "; }

.col-row-2:after {
  clear: both; }

.col-row-3 {
  width: 25%;
  float: left;
  min-height: 1px;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  box-sizing: border-box; }

.col-row-3:before,
.col-row-3:after {
  display: table;
  content: " "; }

.col-row-3:after {
  clear: both; }

.col-row-4 {
  width: 33.33333%;
  float: left;
  min-height: 1px;
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box; }

.col-row-4:before,
.col-row-4:after {
  display: table;
  content: " "; }

.col-row-4:after {
  clear: both; }

.col-row-5 {
  width: 41.66667%;
  float: left;
  min-height: 1px;
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box; }

.col-row-5:before,
.col-row-5:after {
  display: table;
  content: " "; }

.col-row-5:after {
  clear: both; }

.col-row-6 {
  width: 50%;
  float: left;
  min-height: 1px;
  /*position: relative;*/
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box; }

.col-row-6:before,
.col-row-6:after {
  display: table;
  content: " "; }

.col-row-6:after {
  clear: both; }

.col-row-7 {
  width: 58.33333%;
  float: left;
  min-height: 1px;
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box; }

.col-row-7:before,
.col-row-7:after {
  display: table;
  content: " "; }

.col-row-7:after {
  clear: both; }

.col-row-8 {
  width: 66.66667%;
  float: left;
  min-height: 1px;
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box; }

.col-row-8:before,
.col-row-8:after {
  display: table;
  content: " "; }

.col-row-8:after {
  clear: both; }

.col-row-9 {
  width: 75%;
  float: left;
  min-height: 1px;
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box; }

.col-row-9:before,
.col-row-9:after {
  display: table;
  content: " "; }

.col-row-9:after {
  clear: both; }

.col-row-10 {
  width: 83.33333%;
  float: left;
  min-height: 1px;
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box; }

.col-row-10:before,
.col-row-10:after {
  display: table;
  content: " "; }

.col-row-10:after {
  clear: both; }

.col-row-11 {
  width: 91.66667%;
  float: left;
  min-height: 1px;
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box; }

.col-row-11:before,
.col-row-11:after {
  display: table;
  content: " "; }

.col-row-11:after {
  clear: both; }

.col-row-12 {
  width: 100%;
  float: left;
  min-height: 1px;
  position: relative;
  /*
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box; */;}

.col-row-12:before,
.col-row-12:after {
  display: table;
  content: " "; }

.col-row-12:after {
  clear: both; }

.col-row-f-5 {
  width: 20%;
  float: left;
  min-height: 1px;
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box;
}
.col-row-f-5:before,
.col-row-f-5:after {
  display: table;
  content: " "; }

.col-row-f-5:after {
  clear: both; }

/*flexslider 简单banner切换、内容切换公共css*/
.flexslider { position: relative; zoom: 1; overflow:hidden}
.flex-viewport { -webkit-transition: all 1s ease;transition: all 1s ease; }
.flex-viewport li{overflow:hidden;display:none;}
.flexslider .slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
.flexslider .slides > li { /*display: none;*/ -webkit-backface-visibility: hidden; }
.flexslider .slides img {width: 100%; display: block;}
.no-js .slides > li:first-child {display: block;}
.flex-direction-nav a{position: absolute;top: 50%;margin-top:-19px;width: 19px;height: 37px;display: block;cursor: pointer;opacity: 1;z-index:11;font-size:0;line-height:0;}
.flex-direction-nav .flex-next {right:3%;background-position: 0 -37px;}
.flex-direction-nav .flex-prev {left: 3%;}
.flex-control-nav {position: absolute;left: 0; bottom: 20px; width: 100%; text-align: center;z-index:10;}
.flex-control-nav li {margin: 0 5px; display: inline-block; zoom: 1; *display: inline;vertical-align:middle;}
.flex-control-paging li a {width: 12px; height: 12px; border-radius: 6px; opacity: 0.5; display: block; *display:inline-block; background: #000; cursor: pointer; font-size:0;line-height:0; }
.flex-control-paging li a:hover,.flex-control-paging li a.flex-active {background: #fff;opacity: 1;box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);}

/*通栏banner*/
.slider_fullscreen{width:100%;overflow:hidden;position:relative; }
.slider_fullscreen .flexslider{position:relative;left:50%;width:1920px;margin-left:-960px;overflow:hidden;}

.g-sd2 {
  position: relative;
  float: right;
  width: 250px;
  margin-left: -250px; }

.g-mn2 {
  float: left;
  width: 100%; }

.g-mn2c {
  margin-right: 250px; }

.g-bd2:before,
.g-bd2:after {
  display: table;
  content: " "; }

.g-bd2:after {
  clear: both; }
  
/*右侧导航*/
.fixed_right{
    position: fixed;
    bottom: 10%;
    right: -10px;
    z-index: 999;
}

.fixed_right a{
	display: block;
	width: 50px;
	height: 50px;
	background-color: #333;
	border-bottom: 1px solid #fff;
	position: relative;
}

.fixed_right .m-box{
	position: absolute;
	right:50px;
	top: 0px;
	background: #fff;
	border: 1px solid #F26D00;
	height: 49px;
	width: 138px;
	text-align: center;
	line-height: 52px;
	color: #F26D00;
	font-size: 14px;
	display: none;
}
.fixed_right .m-qrcode .m-box{
	height: 180px;
	width: 139px;
	z-index: 99;
	top: 0;
}
.fixed_right .m-qrcode .m-box h3{
	color: #333;
	font-size: 14px;
	margin: 10px 0 8px;
}
.fixed_right .m-qrcode .m-box .m-qr{
	width: 117px;
	height: 117px;
	overflow: hidden;
	margin: 0 auto;
}
.fixed_right .m-qrcode .m-box p{
	color: #999;
	font-size: 12px;
	line-height: 30px;
}

.fixed_right .m-qrcode{
	background: #333 url(../imgs/fixed.png) center no-repeat;
}
.fixed_right .m-list{
	background: #333 url(../imgs/fixed2.png) center no-repeat;
}
.fixed_right .m-cate{
	background: #333 url(../imgs/fixed3.png) center no-repeat;
}
.fixed_right .m-service{
	background: #333 url(../imgs/fixed4.png) center no-repeat;
}
.fixed_right .m-return{
	background: #333 url(../imgs/fixed5.png) center no-repeat;
}

.fixed_right a.active .m-box{
	display: block;
}
.fixed_right .m-return.active .m-box{
	height: 50px;
}

/*头部*/
.layer1 {
  z-index: 3;
  height: 80px;
  width: 1920px;
  position: relative;
  left: 50%;
  margin-left: -960px;
  overflow: hidden;
}

.section1 {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
  text-align: center;
  padding: 25px 0 29px;
}

.word1 {
  display: inline-block;
  overflow-wrap: break-word;
  color: #fff;
  font-size: 19px;
  text-transform: uppercase;
  line-height: 26px;
}

.info1 {
  display: inline-block;
  height: 28px;
  border-radius: 10px 2px 10px 2px;
  background-color: #F26D00;
  width: 180px;
  font-size: 12px;
  margin-left: 18px;
  line-height: 28px;
  color: #fff;
  position: relative;
  top: -3px;
}

.layer2 {
  background-color: #F5F5F5;
  height: 30px;
}

.layer2-item {
	float: left;
	padding: 0 12px;
	position: relative;
	cursor: pointer;
}
.layer2-item::after {
	content: '';
	position: absolute;
	top: 8px;
	right: 0;
	width: 1px;
	height: 12px;
	background: url(../imgs/line.png) no-repeat;
}
.layer2-item:last-of-type::after {
	display: none;
}
.layer2-item .layer2-info {
	line-height: 30px;
	font-size: 12px;
	color: #333333;
}
.layer2-item .layer2-info .clrf26 {
	color: #F26D00;
}
.layer2-item .layer2-info .icon-down {
	display: inline-block;
	width: 6px;
	height: 4px;
	background: url('../imgs/down.png') 100% no-repeat;
	position: relative;
	top: -2px;
	margin-left: 4px;
	transition: transform .2s ease-in-out;
}
.icon-phone {
	display: inline-block;
	width: 12px;
	height: 15px;
	background: url(../imgs/phone-icon.png) 100% no-repeat;
	position: relative;
	top: 2px;
	margin-right: 6px;
}
.layer2-drop {
	position: absolute;
	top: 30px;
	left: 0;
	width: 100%;
	overflow: auto;
	padding: 5px 0;
	background-color: #fff;
	box-sizing: border-box;
	border-radius: 4px;
	box-shadow: 0 1px 6px rgba(0,0,0,.2);
	z-index: 900;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}
.layer2-drop .m-pic,
.layer2-drop .m-pic img {
	width: 100%;
}

.layer2-drop li {
	font-size: 12px;
	line-height: 30px;
	color: #333;
	padding: 0 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-break: normal;
}
.layer2-item:hover .layer2-drop {
	opacity: 1;
	visibility: visible;
}
.layer2-item:hover .icon-down {
	transform: rotate(180deg)
}
.layer2-drop li:hover {
	background: #f3f3f3;
}
.layer2-item:hover .layer2-info span {
	color: #F46D00;
}

.layer2-item-slides {
	float: left;
	width: 628px;
	height: 30px;
	overflow: hidden;
}
.layer2-item-slides .y_choicelist {
	overflow: hidden;
	zoom: 1;
}
.layer2-item-slides .y_choicelist li {
	float: left;
	width: 500px;
	padding-left: 58px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 30px;
	font-size: 12px;
}
.layer2-item-slides .y_choicelist li span {
	color: #F46D00;
}
.lay-logo {
	float: left;
	width: 295px;
	height: 40px;
	margin: 26px 0 34px;
	overflow: hidden;
}
.lay-logo h1 {
	text-indent: -10000px;
}

.lay-top-search {
	float: left;
	margin: 26px 0 32px;
	overflow: hidden;
}
.lay-top-search input {
	float: left;
	width: 425px;
	padding: 10px 15px;
	line-height: 18px;
	font-size: 14px;
	border-radius: 20px 0 0 20px;
	border: 1px solid #F26D00;
}
.lay-top-search a {
	float: left;
	width: 45px;
	height: 38px;
	border-top: 1px solid #F26D00;
	border-bottom: 1px solid #F26D00;
	border-radius: 0 20px 20px 0;
	background: #F26D00 url(../imgs/icon-search.png) center no-repeat;
}
.lay-top-search a:hover {
	background-color: #f58b35;
}
.top-search-tip {
	float: left;
	width: 91px;
	height: 30px;
	padding: 5px 0;
	font-size: 12px;
	color: #FFF;
	text-align: center;
	background-color: #313131;
	border-radius: 20px;
	line-height: 14px;
	margin-left: 10px;
}

.lay-top-enter {
	float: left;
	margin: 35px 0 35px 16px;
	line-height: 20px;
	font-size: 14px;
	position: relative;
}
.lay-top-enter label {
	position: absolute;
	top:-5px;
	right: -4px;
	padding: 0 5px;
	line-height: 16px;
	background-color: #F26D00;
	color: #fff;
	border-radius: 8px;
	font-size: 12px;
}
.lay-top-enter i {
	display: inline-block;
	position: relative;
	margin-right: 2px;
	vertical-align: middle;
}
.lay-top-enter .icon-login {
	width: 26px;
	height: 25px;
	background: url(../imgs/sigin.png) no-repeat;
}
.lay-top-enter .icon-cart {
	width: 27px;
	height: 26px;
	top: -2px;
	background: url(../imgs/cart.png) no-repeat;
}
.lay-top-enter .icon-message {
	width: 25px;
	height: 24px;
	background: url(../imgs/mesg.png) no-repeat;
}
.lay-top-enter:hover {
	color: #F26D00;
}

.m-nav{
	background: #333333;
	height: 50px;
	position: relative;
}
.m-categorys{
	position: relative;
}
.m-categorys h2{
	padding-left: 15px;
	font-size: 16px;
	font-weight:normal;
	line-height: 50px;
	background: #F26D00;
	color: #fff;
	position: relative;
	cursor: pointer;
}
.m-categorys h2 s{
	background: url(../imgs/top-nav.png) no-repeat;
	position: absolute;
	right:11px;
	top:20px;
	width: 14px;
	height: 12px;
}
.m-navol{
	overflow: hidden;
	zoom: 1;
	padding-left: 6px;
}
.m-navol li{
	float: left;
}
.m-navol li a{
	font-size: 16px;
	color: #fff;
	padding: 0 26px;
	display: block;
	line-height: 48px;
	height: 48px;
}
.m-navol li.acive a,.m-navol li a:hover{
	color: #F26D00;
}
.m-meun{
	filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F000000', endColorstr='#7F000000');background:rgba(0,0,0,0.5);
	position: absolute;
	top: 50px;
	left: 0;
	z-index: 999;
	width: 100%;
	height: 490px;
	display: none;
}
.m-meun.show{
	display: block;
}
.m-meun .m-itme h3{
	cursor: pointer;
	padding: 0 15px;
	color: #fff;
	font-size: 14px;
	font-weight: normal;
	height: 50px;
	line-height: 50px;
	background: url(../imgs/b.png) 92% center no-repeat;
}
.m-three{
	position: absolute;
	top: 0;
	left: 300px;
	background: #fff;
	width: 210px;
	height: 465px;
	padding: 12px 10px 12px 30px;
	display: none;
}
.m-meun .m-itme.active .m-three{
	display: block;
}
.m-meun .m-itme.active h3{
	background: url(../imgs/b.png) 92% center no-repeat #fff;
	color:#222;
}
.m-three .fl{
   position:relative;
}
.m-three .fl li{
	padding-right:60px;
	
}
.m-three .fl li .three_fr{
	position:absolute;
	right:0px;
	left:260px;
	width:300px;
	height:480px;
	overflow:hidden;
	display:none;
	top:0px;
}

.m-three .fl li.active .three_fr{
	display:block;
}
.m-three .fr{
	width: 300px;
	height: 400px;
}
.m-three li > a{
	line-height: 60px;
	height: 60px;
	display: block;
	padding: 0 23px;
	width:154px;
	overflow: hidden;
	font-size: 14px;
	font-weight: 600;
	color: #999;
}
.m-three li a s{
	display: inline-block;
	width: 35px;
	height: 35px;
	margin-right: 22px;
	vertical-align: middle;
	margin-bottom: 3px;
}
.m-three li.active a,.m-three li a:hover{
	background: #eeeeee;
	color: #222;
}

/*底部*/
.g-baseCont {
	background-color: #F26D00;
	text-align: center;
	padding: 28px 0 24px;
	line-height: 28px;
	color: #fff;
}
.g-baseCont h6 {
	color: #fff;
	font-size: 20px;
}
.g-baseCont p {
	font-size: 14px;
}
.bg-000 {
	background-color: #333;
}
.footer-txt {
	padding: 24px 0;
	width: 920px;
	margin: 0 auto;
	font-size: 12px;
	line-height: 17px;
	text-align: center;
	color: #fff;
}
.bg-foot-000 {
	border-top: 1px solid #999;
}
.m-footernav{
	padding-top:40px ;
	padding-bottom: 20px;
	overflow: hidden;
}
.footer-nav{
	overflow: hidden;
	zoom: 1;
}
.footer-nav dl{
	float: left;
	width: 250px;
	padding-right: 15px;
}
.footer-nav dl dt{
	font-size:20px ;
	color: #fff;
	height: 30px;
	margin-bottom: 6px;
	overflow: hidden;
}
.footer-nav dl dd{
	line-height: 28px;
	color: #fff;
	font-size: 14px;
	height: 28px;
	overflow: hidden;
}
.footer-nav dl dd a{
	color: #fff;
}
.footer-nav dl dd a:hover{
	color: #F26D00;
}

.m-contact .p1{
	font-size:20px;
	line-height: 30px;
	color: #fff;
}
.m-contact .p2{
	font-size:12px;
	line-height: 18px;
	margin-top: 10px;
	margin-bottom: 15px;
	color: #fff;
}
.m-contact .fl {
	width: 90px;
	height: 90px;
	overflow: hidden;
	margin-right: 10px;
}
.m-contact .m-contact-fl {
	float: left;
}
.m-contact .m-contact-fl a {
	display: block;
	width: 118px;
	height: 40px;
	overflow: hidden;
}
.m-contact .m-contact-fl a + a {
	margin-top: 12px;
}
.footer-nav dl.icon-footenter {
	width: 80px;
}
.footer-nav dl.icon-footenter dd {
	float: left;
	width: 50%;
	height: auto;
	margin-bottom: 8px;
}
.icon-footenter dd a {
	display: block;
	width: 30px;
	height: 30px;
	border: 1px solid #fff;
	border-radius: 50%;
	text-align: center;
	line-height: 32px;
}
.icon-footenter dd a img {
	vertical-align: text-top;
}

.crumb {
	padding: 20px 0;
	line-height: 20px;
	font-size: 14px;
	color: #999;
	position: relative;
}
.crumb .icon-bram{
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-right: 10px;
	background: url(../imgs/bram.png) center no-repeat;
	position: relative;
	top: 3px;
}
.crumb a {
	color: #999;
}
.crumb a:hover {
	color: #F26D00;
}
.purchase-notice {
	position: absolute;
	top: 20px;
	right: 0;
	font-size: 14px;
	line-height: 20px;
}
.purchase-notice a {
	color: #F26D00;
}
.purchase-notice i {
	display: inline-block;
	width: 14px;
	height: 16px;
	background: url(../imgs/de-remark.png) no-repeat;
	position: relative;
	top: 1px;
}

/*翻页*/
.y_page {
	text-align:center;
	padding:37px 0 43px;
	font:14px/40px "Microsoft YaHei";
	color: #333;
	font-size: 0;
}
.y_page a {
	display:inline-block;
	height:40px;
	width:40px;
	line-height:40px;
	vertical-align:middle;
	background:#fff;
	color: #333;
	font-size: 14px;
	border: 1px solid #DCDCDC;
	-webkit-transition:all 0.2s;
	transition:all 0.2s;
	cursor: pointer;
}
.y_page a.y_page_num {
	border-left: none;
	font-weight: bold;
}
.y_page a.y_page_num:first-of-type {
	border-left: 1px solid #DCDCDC;
}
.y_page a.y_page-btn:hover,
.y_page a.y_page_num:hover {
	background-color:#F26D00;
	border-color: #F26D00;
	color:#fff;
	text-decoration:none;
}
.y_page a.y_cur {
	background:#F26D00;
	color:#fff;
	border-color: #F26D00;
}
.y_page .y_btn {
	margin: 0 10px;
}
.y_page .y_btn.y_btn_pre {
	background-image: url(../imgs/big-l.png);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: 6px 12px;
	background-size: 6px 12px;
}
.y_page .y_btn.y_btn_next {
	background-image: url(../imgs/big-r.png);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: 6px 12px;
	background-size: 6px 12px;
}
.y_page .y_btn.disabled {
	background-color:#eee;
	color:#bbb;
	cursor: not-allowed;
	pointer-events: none;
}
.y_page span {
	font-size: 14px;
	padding:0 5px;
}

.y_page .y_pagenumber:focus {
	border-color:#F26D00;
}
.y_page .y_pagenumber {
	position: relative;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	background: #fff;
	border: 1px solid #DCDCDC;
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	overflow: hidden;
}
.y_page .y_page-btn {
	padding: 0 10px;
	margin-left: 5px;
}

/*数量加减*/
.y_saleleng {
	float: left;
	margin-right: 10px;
	border: 1px solid #DCDCDC;
}
.y_saleleng a, .y_saleleng input {
	float: left;
	height: 38px;
	line-height: 38px;
	overflow: hidden;
	text-align: center;
	font-size: 20px;
	color: #979797;
	background-color: #fff;
}
.y_saleleng a {
	font-size: 30px;
	width: 38px;
	font-weight: 300;
}
.y_saleleng input {
	font-size: 14px;
	width: 60px;
	border: none;
	border-left: 1px solid #DCDCDC;
	border-right: 1px solid #DCDCDC;
}
.y_saleleng a:hover {
	text-decoration: none;
	color: #666;
}
