@charset "utf-8";
body{font:16px/1.5 "microsoft yahei", Arial, sans-serif;color:#333;background-color:#fafafa;margin:0;padding:0;overflow-x: hidden;}
a{color:#3c3c3c;text-decoration:none;}
a:active,a:focus {text-decoration:none;color:#F26D00;}
a:hover{text-decoration:none;}
a:active,a:focus,input,select,textarea {outline:none;}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{line-height:1;color:#000;font-family:"microsoft yahei";}
ul,ol {list-style-type:none}
li{*vertical-align:top;}
div,a,p,b,em,i,strong,span,img,ul,li,ol,dl,dt,dd,h1,h2,h3,h4,h5,h6,input{margin:0;padding:0;}
img{border:none;vertical-align:top;max-width: 100%;}
strong{font-weight: normal;}

.fl{float:left;}
.fr{float:right;}
.clearfix,.container {zoom:1;}
.clearfix:after,.container:after {content:".";display:block;height:0;visibility:hidden;clear:both;}
.base-color {
	color: #F26D00;
}
.bg-color {
	background-color: #F26D00;
}
.bg {
    background: #fff;
}
.bg_fafafa {
	background-color: #fafafa;
}
.bg_f0 {
	background-color: #f0f0f1;
}
.pos-relate {
	position: relative;
	height: 70px;
}
.jp-content {
	width: 1200px;
	margin: 0 auto;
}
.g-box:before,.g-box:after,.g-section-8:before,.g-section-8:after {
	display: table;
    content: " ";
    clear:both;
}
.mt_60 {
	margin-top: 60px;
}
/*owl-carousel 响应式商品切换基础css*/
.owl-carousel {
	display: none;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer {
	position: relative;
	width: 100%;
	overflow:hidden
}
.owl-carousel .owl-wrapper {
	position: relative;
}
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.owl-carousel .owl-item {
	float: left;
}
.owl-theme .owl-pagination {
	position: absolute;
	left: 0;
	bottom: 10px;
	width: 100%;
	text-align: center;
	padding-top: 2px;
}
.owl-theme .owl-pagination .owl-page {
	display: inline-block;
	*display: inline;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	vertical-align: middle;
	margin: 0 5px;
	cursor: pointer;
	background: #b5b5b5
}
.owl-theme .owl-pagination .owl-page.active {
	background-color: #eb5e58;
}
.owl-theme .owl-buttons div {
	position: absolute;
	width: 20px;
	height: 30px;
	top: 50%;
	margin-top: -15px;
	opacity: 0.7;
	filter:alpha(opacity=70);
	cursor: pointer;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
	z-index: 11;
}
.owl-theme .owl-buttons div:hover {
	opacity: 1;
	filter:alpha(opacity=100);
}
.owl-theme .owl-buttons .owl-prev {
	left:30px;
	background: url(../imgs/top-l.png) center no-repeat;
}
.owl-theme .owl-buttons .owl-next {
	right: 30px;
	background: url(../imgs/top-r.png) center no-repeat;
}

/* 简易栅格布局 */
.g-row {
  zoom: 1;
  margin-left: -5px;
  margin-right: -5px;
}
.col-row-1 {
  width: 8.33333%;
  float: left;
  min-height: 1px;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  box-sizing: border-box; }

.col-row-1:before,
.col-row-1:after {
  display: table;
  content: " "; }

.col-row-1:after {
  clear: both; }

.col-row-2 {
  width: 16.66667%;
  float: left;
  min-height: 1px;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  box-sizing: border-box; }

.col-row-2:before,
.col-row-2:after {
  display: table;
  content: " "; }

.col-row-2:after {
  clear: both; }

.col-row-3 {
  width: 25%;
  float: left;
  min-height: 1px;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  box-sizing: border-box; }

.col-row-3:before,
.col-row-3:after {
  display: table;
  content: " "; }

.col-row-3:after {
  clear: both; }

.col-row-4 {
  width: 33.33333%;
  float: left;
  min-height: 1px;
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box; }

.col-row-4:before,
.col-row-4:after {
  display: table;
  content: " "; }

.col-row-4:after {
  clear: both; }

.col-row-5 {
  width: 41.66667%;
  float: left;
  min-height: 1px;
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box; }

.col-row-5:before,
.col-row-5:after {
  display: table;
  content: " "; }

.col-row-5:after {
  clear: both; }

.col-row-6 {
  width: 50%;
  float: left;
  min-height: 1px;
  /*position: relative;*/
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box; }

.col-row-6:before,
.col-row-6:after {
  display: table;
  content: " "; }

.col-row-6:after {
  clear: both; }

.col-row-7 {
  width: 58.33333%;
  float: left;
  min-height: 1px;
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box; }

.col-row-7:before,
.col-row-7:after {
  display: table;
  content: " "; }

.col-row-7:after {
  clear: both; }

.col-row-8 {
  width: 66.66667%;
  float: left;
  min-height: 1px;
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box; }

.col-row-8:before,
.col-row-8:after {
  display: table;
  content: " "; }

.col-row-8:after {
  clear: both; }

.col-row-9 {
  width: 75%;
  float: left;
  min-height: 1px;
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box; }

.col-row-9:before,
.col-row-9:after {
  display: table;
  content: " "; }

.col-row-9:after {
  clear: both; }

.col-row-10 {
  width: 83.33333%;
  float: left;
  min-height: 1px;
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box; }

.col-row-10:before,
.col-row-10:after {
  display: table;
  content: " "; }

.col-row-10:after {
  clear: both; }

.col-row-11 {
  width: 91.66667%;
  float: left;
  min-height: 1px;
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box; }

.col-row-11:before,
.col-row-11:after {
  display: table;
  content: " "; }

.col-row-11:after {
  clear: both; }

.col-row-12 {
  width: 100%;
  float: left;
  min-height: 1px;
  position: relative;
  /*
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box; */;}

.col-row-12:before,
.col-row-12:after {
  display: table;
  content: " "; }

.col-row-12:after {
  clear: both; }

.col-row-f-5 {
  width: 20%;
  float: left;
  min-height: 1px;
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box;
}
.col-row-f-5:before,
.col-row-f-5:after {
  display: table;
  content: " "; }

.col-row-f-5:after {
  clear: both; }

/*flexslider 简单banner切换、内容切换公共css*/
.flexslider { position: relative; zoom: 1; overflow:hidden}
.flex-viewport { -webkit-transition: all 1s ease;transition: all 1s ease; }
.flex-viewport li{overflow:hidden;display:none;}
.flexslider .slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
.flexslider .slides > li { /*display: none;*/ -webkit-backface-visibility: hidden; }
.flexslider .slides img {width: 100%; display: block;}
.no-js .slides > li:first-child {display: block;}
.flex-direction-nav a{position: absolute;top: 50%;margin-top:-19px;width: 19px;height: 37px;display: block;cursor: pointer;opacity: 1;z-index:11;font-size:0;line-height:0;}
.flex-direction-nav .flex-next {right:3%;background-position: 0 -37px;}
.flex-direction-nav .flex-prev {left: 3%;}
.flex-control-nav {position: absolute;left: 0; bottom: 20px; width: 100%; text-align: center;z-index:10;}
.flex-control-nav li {margin: 0 5px; display: inline-block; zoom: 1; *display: inline;vertical-align:middle;}
.flex-control-paging li a {width: 12px; height: 12px; border-radius: 6px; opacity: 0.5; display: block; *display:inline-block; background: #000; cursor: pointer; font-size:0;line-height:0; }
.flex-control-paging li a:hover,.flex-control-paging li a.flex-active {background: #fff;opacity: 1;box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);}

/*通栏banner*/
.slider_fullscreen{width:100%;overflow:hidden;position:relative; }
.slider_fullscreen .flexslider{position:relative;left:50%;width:1920px;margin-left:-960px;overflow:hidden;}

.g-sd2 {
  position: relative;
  float: right;
  width: 250px;
  margin-left: -250px; }

.g-mn2 {
  float: left;
  width: 100%; }

.g-mn2c {
  margin-right: 250px; }

.g-bd2:before,
.g-bd2:after {
  display: table;
  content: " "; }

.g-bd2:after {
  clear: both; }
  
/*右侧导航*/
.fixed_right{
    position: fixed;
    bottom: 10%;
    right: 10px;
    z-index: 999;
		background-color: #333;
    border-radius: 4px;
}

.fixed_right a{
	display: block;
	width: 60px;
	height: 60px;
	position: relative;
	border-top: 1px solid transparent;
}

.fixed_right .m-box{
	position: absolute;
	right:60px;
	top: 0px;
	background: rgba(51,51,51,0.9);
	width: 250px;
	text-align: center;
	display: none;
	z-index: 99;
}
.fixed_right .m-box h3{
	color: #F26D00;
	font-weight: bold;
	font-size: 20px;
	line-height: 28px;
	padding: 14px 15px 2px;
	text-align: left;
}

.fixed_right .m-box > p{
	color: #fff;
	font-size: 12px;
	line-height: 20px;
	padding: 0 5px 15px 15px;
	text-align: left;
	
}
.fixed_right .m-box .m-pics {
	overflow: hidden;
	zoom: 1;
}
.fixed_right .m-box .m-pic-l {
	width: 90px;
	height: 90px;
	margin-bottom: 17px;
	text-align: center;
	margin-left: 15px;
}
.fixed_right .m-box .m-pic-l img {
	width: 86px;
	height: 86px;
	margin-top: 2px;
}
.fixed_right .m-box .m-pic-r div {
	margin-left: 10px;
	margin-bottom: 10px;
}
.fixed_right .m-box .m-pic-r div img {
	width: 100%;
	height: 100%;
}
.fixed_right i{
	display: block;
	width: 23px;
	height: 23px;
	margin: 10px auto 4px;
}
.fixed_right a > p {
	font-size: 10px;
	color: #A4A4A4;
	text-align: center;
}
.fixed_right .m-qrcode{
	background: #333 url(../imgs/fixed.png) center no-repeat;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
}
.fixed_right .m-list{
	background: #333 url(../imgs/fixed2.png) center no-repeat;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
}
.fixed_right .m-cate{
	background: #333 url(../imgs/fixed3.png) center no-repeat;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
}
.fixed_right .m-service{
	background: #333 url(../imgs/fixed4.png) center no-repeat;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
}
.fixed_right .m-return{
	background: #333 url(../imgs/fixed5.png) center no-repeat;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
}
.fixed_right  .m-mesg {
	background: #333 url(../imgs/mesg.png) center no-repeat;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
}

.fixed_right > a.active .m-box{
	display: block;
}

.m-btm-acy {
	background: #F26D00 url(../imgs/right-nav0.png) center no-repeat;
	border-radius: 0 0 4px 4px;
}
.fixed_right a font {
	position: absolute;
  top: 5px;
  right: 13px;
  padding: 0 5px;
  line-height: 16px;
  background-color: #F26D00;
  color: #fff;
  border-radius: 8px;
  font-size: 10px;
}

/*头部*/
.layer1 {
  z-index: 3;
  height: 80px;
  width: 1920px;
  position: relative;
  left: 50%;
  margin-left: -960px;
  overflow: hidden;
}

.section1 {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
  text-align: center;
  padding: 25px 0 29px;
}

.word1 {
  display: inline-block;
  overflow-wrap: break-word;
  color: #fff;
  font-size: 19px;
  text-transform: uppercase;
  line-height: 26px;
}

.info1 {
  display: inline-block;
  height: 28px;
  border-radius: 10px 2px 10px 2px;
  background-color: #F26D00;
  width: 180px;
  font-size: 12px;
  margin-left: 18px;
  line-height: 28px;
  color: #fff;
  position: relative;
  top: -3px;
}

.layer2 {
  background-color: #F5F5F5;
  height: 30px;
}

.layer2-item {
	float: left;
	position: relative;
	cursor: pointer;
	
}
.layer2-item::after {
	content: '';
	position: absolute;
	top: 8px;
	right: 0;
	width: 1px;
	height: 12px;
	background: url(../imgs/line.png) no-repeat;
}
.layer2-item:last-of-type::after {
	display: none;
}
.layer2-item .layer2-info {
	line-height: 30px;
	font-size: 12px;
	color: #333333;
	padding: 0 12px;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
}
.layer2-item .layer2-info .clrf26 {
	color: #F26D00;
}
.layer2-item .layer2-info .icon-down {
	display: inline-block;
	width: 6px;
	height: 4px;
	background: url('../imgs/down.png') 100% no-repeat;
	position: relative;
	top: -2px;
	margin-left: 4px;
	transition: transform .2s ease-in-out;
}
.layer2-item:hover .layer2-info {
	background-color: #fff;
	border-color: #DCDCDC;
	position: relative;
	z-index: 901;
}
.layer2-item:hover::after {
	display: none;
}
.icon-phone {
	display: inline-block;
	width: 12px;
	height: 15px;
	background: url(../imgs/phone-icon.png) 100% no-repeat;
	position: relative;
	top: 2px;
	margin-right: 6px;
}
.layer2-drop {
	position: absolute;
	top: 29px;
	left: 0px;
	min-width: 115%;
	overflow: auto;
	background-color: #fff;
	box-sizing: border-box;
	box-shadow: 0px 10px 10px -5px rgba(133, 133, 133, 0.5);
	z-index: 900;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
  border: 1px solid #DCDCDC;
  border-top: none;
}
.layer2-drop .m-pics {
	padding-bottom: 15px;
	overflow: hidden;
}
.layer2-drop .m-pics .m-pic-l {
	width: 86px;
	height: 86px;
	text-align: center;
	border: 1px solid #979797;
}
.layer2-drop .m-pics .m-pic-l img {
	width: 76px;
	height: 76px;
	margin: 5px auto;
}
.layer2-drop .m-pics .m-pic-r {
	margin-left: 10px;
	width: 120px;
} 
.layer2-drop .m-pics .m-pic-r a {
	display: block;
	height: 37px;
	overflow: hidden;
}
.layer2-drop .m-pics .m-pic-r a img {
	width: 100%;
}
.layer2-drop .m-pics .m-pic-r a + a {
	margin-top: 10px;
}

.layer2-drop li {
	font-size: 12px;
	line-height: 30px;
	color: #333;
	padding: 0 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-break: normal;
	border-top: 1px solid #DCDCDC;
	position: relative;
}
.layer2-drop-cutcy li {
	padding-right: 42px;
}
.layer2-item:hover .layer2-drop {
	opacity: 1;
	visibility: visible;
}
.layer2-drop li .icon-rigth {
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
	height: 30px;
	border-radius: 0;
}

.layer2-drop li .icon-rigth::after {
	top: 8px;
	left: 9px;
	width: 12px;
	height: 7px;
	border-width: 1px;
}

.layer2-drop li:hover,
.layer2-drop li.active {
	background: #f2f2f2;
	color: #F26D00;
}
.layer2-item:hover .layer2-info span {
	color: #F46D00;
}
.layer2-drop-app {
	left: initial;
	right: 0;
	padding: 0 15px;
	width: 250px;
	border-top: 1px solid #DCDCDC;
}
.layer2-drop-app > p {
	font-size: 12px;
	line-height: 20px;
	padding: 15px 0;
	margin-right: -10px;
}

.layer2-item-slides {
	float: left;
	width: 628px;
	height: 30px;
	overflow: hidden;
}
.layer2-item-slides .y_choicelist {
	overflow: hidden;
	zoom: 1;
}
.layer2-item-slides .y_choicelist li {
	float: left;
	width: 500px;
	padding-left: 58px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 30px;
	font-size: 12px;
}
.layer2-item-slides .y_choicelist li span {
	color: #F46D00;
}
.lay-logo {
	float: left;
	width: 295px;
	height: 40px;
	margin: 26px 0 34px;
	overflow: hidden;
}
.lay-logo h1 {
	text-indent: -10000px;
}

.lay-top-search {
	float: left;
	margin: 26px 0 32px;
	overflow: hidden;
}
.lay-top-search input {
	float: left;
	width: 425px;
	padding: 10px 15px;
	line-height: 18px;
	font-size: 14px;
	border-radius: 4px 0 0 4px;
	border: 1px solid #F26D00;
}
.lay-top-search.cart-top-search input {
	border-left-color: #DCDCDC;
	border-top-color: #DCDCDC;
	border-bottom-color: #DCDCDC;
}
.lay-top-search a {
	float: left;
	width: 45px;
	height: 38px;
	border-top: 1px solid #F26D00;
	border-bottom: 1px solid #F26D00;
	border-radius: 0 4px 4px 0;
	background: #F26D00 url(../imgs/icon-search.png) center no-repeat;
}
.lay-top-search a:hover {
	background-color: #f58b35;
}
.top-search-tip {
	float: left;
	width: 91px;
	height: 30px;
	padding: 5px 0;
	font-size: 12px;
	color: #FFF;
	text-align: center;
	background-color: #313131;
	border-radius: 4px;
	line-height: 14px;
	margin-left: 10px;
}

.lay-top-enter {
	float: left;
	margin: 35px 15px 0 16px;
	padding-bottom: 35px;
	line-height: 20px;
	font-size: 14px;
	position: relative;
	cursor: pointer;
}
.lay-top-enter label {
	position: absolute;
	top:-5px;
	right: -4px;
	padding: 0 5px;
	line-height: 16px;
	background-color: #F26D00;
	color: #fff;
	border-radius: 8px;
	font-size: 12px;
}
.lay-top-enter i {
	display: inline-block;
	position: relative;
	margin-right: 2px;
	vertical-align: middle;
}
.lay-top-enter .icon-login {
	width: 26px;
	height: 25px;
	background: url(../imgs/sigin.png) no-repeat;
}
.lay-top-enter .icon-cart {
	width: 27px;
	height: 26px;
	top: -2px;
	background: url(../imgs/cart.png) no-repeat;
}
.lay-top-enter .icon-message {
	width: 25px;
	height: 24px;
	background: url(../imgs/mesg.png) no-repeat;
}
.lay-top-enter:hover {
	color: #F26D00;
}
.lay-top-cont {
	position: absolute;
	top: 40px;
	right: -100px;
	padding: 15px 15px 5px;
	background-color: #fff;
	box-shadow: 0px 10px 10px -5px rgba(133, 133, 133, 0.5);
	border: 1px solid #DCDCDC;
	z-index: 99;
	display: none;
}
.lay-top-enter:hover .lay-top-cont {
	display: block;
}
.lay-top-cont::after {
	content: '';
	position: absolute;
	top: -10px;
	right: 108px;
	width: 17px;
	height: 10px;
	background: url(../imgs/top-sl-bg.png) no-repeat;
}
.lay-top-cont .lay-top-tit {
	font-size: 12px;
	line-height: 18px;
	margin-bottom: 13px;
	color: #333;
	text-align: left;
}
.lay-top-cont .lay-top-btn {
	display: block;
	width: 268px;
	height: 40px;
	font-size: 14px;
	color: #fff;
	text-align: center;
	line-height: 40px;
	background-color: #F26D00;
	margin-bottom: 20px;
}
.lay-top-cont .lay-top-btn:hover {
	background-color: #F58B35;
}
.lay-top-enter_cart .lay-top-cont {
	right: -5px;
}
.lay-top-enter_cart .lay-top-cont::after {
	right: 15px;
}
.lay-cart-drop {
	width: 320px;
}
.lay-cart-drop li {
	padding: 0 0 10px;
	border-bottom: 1px solid #DCDCDC;
	margin-bottom: 10px;
	overflow: hidden;
	zoom: 1;
}
.lay-cart-drop li .m-pic {
	float: left;
	width: 60px;
	height: 60px;
	overflow: hidden;
}
.lay-cart-drop .lay-cart-drop-cont {
	float: left;
	width: 243px;
	margin-left: 15px;
	position: relative;
}
.lay-cart-drop .lay-cart-drop-cont p {
	font-size: 12px;
	line-height: 17px;
	height: 34px;
	overflow: hidden;
	margin-bottom: 8px;
	width: 220px;
	color: #333;
}
.lay-cart-drop .lay-cart-drop-cont .clearfix {
	font-size: 12px;
	line-height: 17px;
	
}
.lay-cart-drop .lay-cart-drop-cont .clearfix span {
	float: left;
	color: #999;
	margin-right: 4px;
}
.lay-cart-drop .lay-cart-drop-cont .clearfix b,
.lay-cart-drop-total b {
	float: right;
	font-size: 14px;
	font-weight: bold;
	color: #F26D00;
}
.lay-cart-drop .lay-cart-drop-cont .icon-cart-close {
	position: absolute;
	top: 0;
	right: 0;
	width: 10px;
	height: 9px;
	background: url(../imgs/drop-close.png) no-repeat;
	cursor: pointer;
}
.lay-cart-drop-total {
	padding: 3px 0 20px;
	overflow: hidden;
}
.lay-cart-drop-total span {
	float: left;
	font-size: 12px;
	line-height: 17px;
	color: #333;
}
.lay-top-cont .lay-cart-drop-total ~ .lay-top-btn {
	margin-bottom: 10px;
	width: auto;
}

.m-nav{
	background: #333333;
	height: 50px;
	position: relative;
}
.m-categorys{
	position: relative;
}
.m-categorys h2{
	padding-left: 15px;
	font-size: 16px;
	font-weight:normal;
	line-height: 50px;
	background: #F26D00;
	color: #fff;
	position: relative;
	cursor: pointer;
}
.m-categorys h2 s{
	background: url(../imgs/top-nav.png) no-repeat;
	position: absolute;
	right:11px;
	top:20px;
	width: 14px;
	height: 12px;
}
.m-categorys:hover h2 s {
	background-image: url(../imgs/menu-close.png);
}
.m-navol{
	overflow: hidden;
	zoom: 1;
	padding-left: 6px;
}
.m-navol li{
	float: left;
}
.m-navol li a{
	font-size: 16px;
	color: #fff;
	padding: 0 26px;
	display: block;
	line-height: 48px;
	height: 48px;
}
.m-navol li.acive a,.m-navol li a:hover{
	color: #F26D00;
}
.m-meun{
	background:rgba(236, 236, 236, 0.9);
	position: absolute;
	top: 50px;
	left: 0;
	z-index: 999;
	width: 100%;
	height: 490px;
	display: none;
}
.m-meun.show{
	display: block;
}
.m-meun .m-itme h3{
	cursor: pointer;
	padding: 0 15px;
	font-size: 14px;
	height: 34px;
	line-height: 34px;
}
.m-three{
	position: absolute;
	top: 0;
	left: 300px;
	background: #fff;
	width: 210px;
	height: 465px;
	padding: 12px 10px 12px 30px;
	display: none;
}
.m-meun .m-itme:first-of-type {
	margin-top: 6px;
}
.m-meun .m-itme.active .m-three{
	display: block;
}
.m-meun .m-itme h3 a{
	color:#333;
	font-weight: bold;
}
.m-meun .m-itme.active h3 a:hover {
	color: #F26D00;
}
.m-three .fl{
   position:relative;
}
.m-three .fl li{
	padding-right:60px;
	
}
.m-three .fl li .three_fr{
	position:absolute;
	right:0px;
	left:260px;
	width:300px;
	height:480px;
	overflow:hidden;
	display:none;
	top:0px;
}

.m-three .fl li.active .three_fr{
	display:block;
}
.m-three .fr{
	width: 300px;
	height: 400px;
}
.m-three li > a{
	line-height: 60px;
	height: 60px;
	display: block;
	padding: 0 23px;
	width:154px;
	overflow: hidden;
	font-size: 14px;
	font-weight: 600;
	color: #999;
}
.m-three li a s{
	display: inline-block;
	width: 35px;
	height: 35px;
	margin-right: 22px;
	vertical-align: middle;
	margin-bottom: 3px;
}
.m-three li.active a,.m-three li a:hover{
	background: #eeeeee;
	color: #222;
}

/*底部*/
.g-baseCont {
	background-color: #F26D00;
	text-align: center;
	padding: 28px 0 24px;
	line-height: 28px;
	color: #fff;
}
.g-baseCont h6 {
	color: #fff;
	font-size: 20px;
}
.g-baseCont p {
	font-size: 14px;
}
.bg-000 {
	background-color: #333;
}
.footer-txt {
	padding: 24px 0;
	width: 920px;
	margin: 0 auto;
	font-size: 12px;
	line-height: 17px;
	text-align: center;
	color: #fff;
}
.bg-foot-000 {
	border-top: 1px solid #999;
}
.m-footernav{
	padding-top:40px ;
	padding-bottom: 20px;
	overflow: hidden;
}
.footer-nav{
	overflow: hidden;
	zoom: 1;
}
.footer-nav dl{
	float: left;
	width: 240px;
	padding-right: 15px;
}
.footer-nav dl.last-btm-dl {
	width: 168px;
}
.footer-nav dl.last-btm-dl img {
	position: relative;
	top: 2px;
	margin-right: 4px;
}
.footer-nav dl dt{
	font-size:20px ;
	color: #fff;
	height: 30px;
	margin-bottom: 6px;
	overflow: hidden;
}
.footer-nav dl dd{
	line-height: 28px;
	color: #fff;
	font-size: 14px;
	height: 28px;
	overflow: hidden;
}
.footer-nav dl dd a{
	color: #fff;
}
.footer-nav dl dd a:hover{
	color: #F26D00;
}

.m-contact .p1{
	font-size:20px;
	line-height: 30px;
	color: #fff;
}
.m-contact .p2{
	font-size:12px;
	line-height: 18px;
	margin-top: 10px;
	margin-bottom: 15px;
	color: #fff;
}
.m-contact .fl {
	width: 90px;
	height: 90px;
	overflow: hidden;
	margin-right: 10px;
}
.m-contact .m-contact-fl {
	float: left;
}
.m-contact .m-contact-fl a {
	display: block;
	width: 118px;
	height: 40px;
	overflow: hidden;
}
.m-contact .m-contact-fl a + a {
	margin-top: 12px;
}
.footer-nav dl.icon-footenter {
	width: 80px;
}
.footer-nav dl.icon-footenter dd {
	float: left;
	width: 50%;
	height: auto;
	margin-bottom: 8px;
}
.icon-footenter dd a {
	display: block;
	width: 30px;
	height: 30px;
	border: 1px solid #fff;
	border-radius: 50%;
	text-align: center;
	line-height: 32px;
}
.icon-footenter dd a img {
	vertical-align: text-top;
}

.crumb {
	padding: 20px 0;
	line-height: 20px;
	font-size: 14px;
	color: #999;
	position: relative;
}
.crumb .icon-bram{
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-right: 10px;
	background: url(../imgs/bram.png) center no-repeat;
	position: relative;
	top: 3px;
}
.crumb a {
	color: #999;
}
.crumb a:hover {
	color: #F26D00;
}
.purchase-notice {
	position: absolute;
	top: 20px;
	right: 0;
	font-size: 14px;
	line-height: 20px;
}
.purchase-notice a {
	color: #F26D00;
}
.purchase-notice i {
	display: inline-block;
	width: 14px;
	height: 16px;
	background: url(../imgs/de-remark.png) no-repeat;
	position: relative;
	top: 1px;
}

/*翻页*/
.y_page {
	text-align:center;
	padding:37px 0 43px;
	font:14px/40px "Microsoft YaHei";
	color: #333;
	font-size: 0;
}
.y_page a {
	display:inline-block;
	height:40px;
	width:40px;
	line-height:40px;
	vertical-align:middle;
	background:#fff;
	color: #333;
	font-size: 14px;
	border: 1px solid #DCDCDC;
	-webkit-transition:all 0.2s;
	transition:all 0.2s;
	cursor: pointer;
}
.y_page a.y_page_num {
	border-left: none;
	font-weight: bold;
}
.y_page a.y_page_num:first-of-type {
	border-left: 1px solid #DCDCDC;
}
.y_page a.y_page-btn:hover,
.y_page a.y_page_num:hover {
	background-color:#F26D00;
	border-color: #F26D00;
	color:#fff;
	text-decoration:none;
}
.y_page a.y_cur {
	background:#F26D00;
	color:#fff;
	border-color: #F26D00;
}
.y_page .y_btn {
	margin: 0 10px;
}
.y_page .y_btn.y_btn_pre {
	background-image: url(../imgs/big-l.png);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: 6px 12px;
	background-size: 6px 12px;
}
.y_page .y_btn.y_btn_next {
	background-image: url(../imgs/big-r.png);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: 6px 12px;
	background-size: 6px 12px;
}
.disabled,
.y_page .y_btn.disabled {
	background-color:#eee;
	color:#bbb;
	cursor: not-allowed;
	pointer-events: none;
}
.y_page span {
	font-size: 14px;
	padding:0 5px;
}

.y_page .y_pagenumber:focus {
	border-color:#F26D00;
}
.y_page .y_pagenumber {
	position: relative;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	background: #fff;
	border: 1px solid #DCDCDC;
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	overflow: hidden;
}
.y_page .y_page-btn {
	padding: 0 10px;
	margin-left: 5px;
}

/*数量加减*/
.y_saleleng {
	float: left;
	margin-right: 10px;
	border: 1px solid #DCDCDC;
}
.y_saleleng a, .y_saleleng input {
	float: left;
	height: 38px;
	line-height: 38px;
	overflow: hidden;
	text-align: center;
	font-size: 20px;
	color: #979797;
	background-color: #fff;
}
.y_saleleng a {
	font-size: 30px;
	width: 38px;
	font-weight: 300;
}
.y_saleleng input {
	font-size: 14px;
	width: 60px;
	border: none;
	border-left: 1px solid #DCDCDC;
	border-right: 1px solid #DCDCDC;
}
.y_saleleng a:hover {
	text-decoration: none;
	color: #666;
}

/*推荐商品*/

.product-recommend-list {
	margin: 15px 0;
	background-color: #fff;
	padding: 20px 30px 10px 50px;
}
.product-recommend-list .list-recommend-head {
	padding: 8px 0 7px;
	line-height: 35px;
	border-bottom: 1px solid #DCDCDC;
	overflow: hidden;
	background-color: #fff;
}
.product-recommend-list .list-recommend-head .fl {
	font-size: 16px;
	color: #333;
	line-height: 35px;
	font-weight: bold;
}
.product-recommend-list .list-recommend-head .fl span {
	margin-right: 25px;
	cursor: pointer;
}
.product-recommend-list .list-recommend-head .fl span.active {
	color: #F26D00;
	position: relative;
}
.product-recommend-list .list-recommend-head .fl span.active::after {
	content: '';
	position: absolute;
	bottom: -15px;
	left: 0;
	right: 0;
	height: 6px;
	background-color: #F26D00;
}
.product-recommend-list .list-recommend-head .fr a {
	display: block;
	padding-right: 20px;
	font-size: 12px;
	background: url(../imgs/top-r.png) 92% center no-repeat;
	transition: transform 0.2s;
}
.product-recommend-list .list-recommend-head .fr a:hover {
	transform: translateX(3px);
}

.product-recommend-list h6 {
	font-size: 16px;
	line-height: 22px;
	color: #333;
	font-weight: bold;
	margin-left: -22px;
}
.product-recommend-list .y_colloclist li {
	width: 200px;
	padding-bottom: 30px;
	padding-top: 17px;
}
.product-recommend-list .y_colloclist li .y_pic {
	width: 200px;
	height: 200px;
	overflow: hidden;
	margin-bottom: 17px;
}
.product-recommend-list .y_colloclist li .y_name {
	font-size: 14px;
	line-height: 20px;
	height: 60px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	margin-bottom: 15px;
}
.product-recommend-list .y_colloclist li .y_name:hover {
	color: #F26D00;
}

.product-recommend-list .y_colloclist li .color_0b285b {
	font-size: 20px;
	line-height: 28px;
	font-weight: bold;
	color: #F26D00;
}
.product-recommend-list .y_colloclist.owl-theme .owl-buttons div {
	width: 25px;
	height: 60px;
	margin-top: -30px;
}
.product-recommend-list .y_colloclist.owl-theme .owl-buttons .owl-prev {
    left: -50px;
    background: url(../imgs/de-left.png) center no-repeat;
}
.product-recommend-list .y_colloclist.owl-theme .owl-buttons .owl-next {
    right: -30px;
    background: url(../imgs/de-right.png) center no-repeat;
}
.product-recommend-list .y_colloclist-atvr {
	overflow: hidden;
	zoom: 1;
}
.product-recommend-list .y_colloclist-atvr .m-pic {
	float: left;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 10px;
}
.product-recommend-list .y_colloclist-atvr p {
	float: left;
	font-size: 12px;
	color: #F26D00;
	line-height: 30px;
	height: 30px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}


.page-title {
	font-size: 24px;
	line-height: 33px;
	text-align: center;
	color: #333;
	padding: 33px 0;
	text-transform: uppercase;
}
.page-title-a {
	display: block;
	position: relative;
}
.page-title-a span {
	position: absolute;
	top: -66px;
	right: 0;
	font-size: 14px;
	line-height: 33px;
	color: #999;
	padding-right: 20px;
	transition: transform 0.2s;
	background: url(../imgs/top-r.png) 92% center no-repeat;
}
.page-title-a span:hover {
	color: #F26D00;
  transform: translateX(3px);
}

.step-mian {
	padding: 0 30px;
	background-color: #fff;
	margin-bottom: 30px;
}
.step-mian-top {
	padding: 25px 0 18px;
	line-height: 28px;
	overflow: hidden;
	border-bottom: 1px solid #DCDCDC;
}
.step-mian-top .fl {
	overflow: hidden;
	zoom: 1;
}
.step-mian-top .fl h4 {
	float: left;
	font-size: 20px;
	font-weight: 600;
	color: #F26D00;
	line-height: 28px;
	text-transform: uppercase;
}
.step-mian-top .fl p {
	float: left;
	font-size: 12px;
	text-align: center;
	line-height: 28px;
	color: #fff;
	width: 180px;
	height: 28px;
	background: #F26D00;
	border-radius: 10px 0px 10px 0px;
	margin-left: 12px;
}
.step-mian-top .fr {
	font-size: 14px;
	color: #999;
}
.step-mian-top .fr:hover {
	color: #333;
}
.step-mian-cout {
	padding: 34px 0 30px;
	margin-left: -30px;
	margin-right: -30px;
}
.step-mian-item {
	float: left;
	position: relative;
	width: 30%;
	margin-left: 3.3%;
}
.step-mian-item::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 1px;
	background-color: #DCDCDC;
}
.step-mian-item:last-of-type::after {
	display: none;
}
.step-item-input {
	width: 310px;
	height: 38px;
	border: 1px solid #d9d9d9;
	margin-bottom: 25px;
	position: relative;
}
.step-item-input a {
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 24px;
	color: #fff;
	position: absolute;
	top: -1px;
	left: -1px;
	background: #F26D00;
}
.step-item-input a.icon-fastest {
	background: #F26D00 url(../imgs/icon-fastest.png) center no-repeat;
}
.step-item-input a.icon-strong {
	background: #F26D00 url(../imgs/icon-strong.png) center no-repeat;
}
.step-item-input div {
	padding-left: 50px;
	line-height: 38px;
	font-size: 18px;
	font-weight: 600;
	color: #fff;
	background-image: linear-gradient(
    270deg,
    rgba(178, 178, 178, 0.1) 0%,
    rgba(95, 95, 95, 1) 100%
  );
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.step-item-info ul {
	overflow: hidden;
	zoom: 1;
	margin-bottom: 25px;
}
.step-item-info ul li {
	float: left;
	width: 150px;
	margin-right: 10px;
}
.step-item-info ul li p {
	font-size: 12px;
	line-height: 17px;
	color: #999;
	margin-bottom: 2px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.step-item-info ul li h6 {
	font-size: 16px;
	height: 22px;
	line-height: 22px;
	font-weight: bold;
	color: #333;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.step-item-info ul li h6.hover-color {
	color: #F26D00;
}

.attentive-warps {
	position: relative;
	padding: 50px 0 35px;
	background-color: #fff;
}
.attentive-warps .attentive-warps-tip {
	position: absolute;
	top: 0;
	left: 0;
	width: 133px;
	height: 28px;
	font-size: 12px;
	line-height: 28px;
	overflow: hidden;
	text-align: center;
	color: #fff;
	background: #F26D00;
	border-radius: 0px 0px 10px 0px;
}
.attentive-warps ol {
	overflow: hidden;
	zoom: 1;
}
.attentive-warps ol li {
	float: left;
	width: 16.6%;
	text-align: center;
	position: relative;
}
.attentive-warps ol li::after {
	content: '';
	position: absolute;
	top: 0px;
	right: 0;
	width: 1px;
	height: 110px;
	background-color: #DCDCDC;
}
.attentive-warps ol li:last-of-type::after {
	display: none;
}
.attentive-warps ol li .m-pic {
	width: 90px;
	height: 90px;
	text-align: center;
	margin: 10px auto 14px;
	transition: transform 0.3s;
}
.attentive-warps ol li .m-pic:hover {
	transform: translateY(-4px);
}
.attentive-warps ol li .m-pic img {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.attentive-warps ol li p {
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	height: 18px;
	overflow: hidden;
}
.attentive-warps + .attentive-warps {
	border-top: 1px solid #DCDCDC;
}

/*购买步骤*/
.step-top {
	width: 100%;
	height: 120px;
	overflow: hidden;
  background: url(../imgs/step-bg.png) 100% no-repeat;
}
.step-top-item {
	position: relative;
	float: left;
	width: 33%;
	padding: 16px 0 22px;
	overflow: hidden;
	zoom: 1;
}
.step-top-item::after {
	content: '';
	position: absolute;
	top: 30px;
	bottom: 30px;
	right: 0;
	width: 1px;
	background-color: #DCDCDC;
}
.step-top-item:last-of-type::after {
	display: none;
}
.step-top-item-l {
	float: left;
	font-size: 70px;
	line-height: 82px;
	color: #FFFAF5;
	margin: 0 17px 0 35px;
}
.step-top-item-r {
	float: left;
	width: 285px;
	padding: 8px 0 5px;
}
.step-top-item-r h5 {
	font-size: 20px;
	font-weight: 600;
	color: #FFFFFF;
	line-height: 28px;
	text-transform: uppercase;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.step-top-item-r p {
	font-size: 14px;
	color: #FFFFFF;
	line-height: 20px;
}

/*3栏商品布局*/
.pro-col-3 {
	margin-left: -30px;
	overflow: hidden;
	zoom: 1;
}
.pro-col-item {
	float: left;
	width: 380px;
	padding-bottom: 28px;
	margin-left: 30px;
	margin-bottom: 30px;
	background-color: #fff;
	position: relative;
}
.pro-col-item a {
	display: block;
}
.pro-col-item .m-pic {
	width: 100%;
	height: 380px;
	overflow: hidden;
}
.pro-col-item .m-pic img {
	width: 100%;
	transition: transform 0.3s;
}
.pro-col-item .m-pic:hover img {
	transform: scale(1.04);
}
.pro-col-item p {
	font-size: 14px;
	line-height: 20px;
	font-weight: normal;
	height: 60px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	margin: 18px 20px 13px;
	text-overflow: ellipsis;
}
.pro-col-item p:hover {
	color: #F26D00;
}
.pro-col-item span {
	padding-left: 30px;
	font-size: 20px;
	line-height: 28px;
	color: #F26D00;
	font-weight: bold;
}
.pro-col-item font {
	position: absolute;
	bottom: 30px;
	right: 20px;
	font-size: 12px;
	color: #999;
}
.pro-col-item label {
	position: absolute;
  top: 0px;
  right: 0px;
  width: 80px;
  height: 30px;
  overflow: hidden;
  line-height: 30px;
  text-align: center;
  font-size: 12px;
  color: #fff;
  background: url(../imgs/free-down.png) no-repeat;
}

.fill-input,
.fill-select {
	padding: 4px 9px;
	border: 1px solid #DCDCDC;
	font-size: 14px;
	line-height: 20px;
	color: #333;
	margin-right: 10px;
}
select::-ms-expand{ display: none; }
 
select{
   appearance:none; 
  -moz-appearance:none; 
  -webkit-appearance:none;
}
.fill-select-wap {
	display: inline-block;
	position: relative;
}
.fill-select-wap i {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 10px;
	width: 28px;
	border: 1px solid #DCDCDC;
	background: #fff url(../imgs/slider-t.png) center no-repeat;
	z-index: 2;
}

.submit-success {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #F26D00;
	position: relative;
}
.submit-success::after{
	content: '';
	position: absolute;
	top: 17px;
	left: 18px;
	width: 26px;
	height: 13px;
	border: 2px solid #fff;
	border-top: none;
	border-right: none;
	transform: rotate(-45deg);
}

/*弹框*/
.el-popup-parent--hidden {
	height: 100%;
	overflow: hidden;
}
.msgbox-fade-enter-active{animation:msgbox-fade-in .3s}
.msgbox-fade-leave-active{animation:msgbox-fade-out .3s}
.el-message-fade-enter,.el-message-fade-leave-active{opacity:0;transform:translate(-50%,-100%)}
@keyframes msgbox-fade-in{0%{transform:translate3d(0,-20px,0);opacity:0}to{transform:translateZ(0);opacity:1}}
@keyframes msgbox-fade-out{0%{transform:translateZ(0);opacity:1}to{transform:translate3d(0,-20px,0);opacity:0}}
.el-message-box__wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
.el-message-box__wrapper:after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
}
.v-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
  background: #000;
}
.el-message-box {
	position: relative;
  display: inline-block;
  width: 600px;
  padding-bottom: 10px;
  vertical-align: middle;
  background-color: #fff;
  border: 2px solid #F26D00;
  font-size: 18px;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
  text-align: left;
  overflow: hidden;
  backface-visibility: hidden;
}
.el-message-box__header {
  position: relative;
  padding: 22px 0 14px;
  margin: 0 30px;
  border-bottom: 1px solid #DCDCDC;
}
.el-message-box__title {
  padding-left: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 22px;
  color: #F26D00;
}
.el-message-box__headerbtn {
  position: absolute;
  top: 24px;
  right: 3px;
  padding: 0;
  border: none;
  outline: none;
  background: #F26D00;
  width: 20px;
  height: 20px;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  color: #fff;
  line-height: 20px;
  cursor: pointer;
}
.el-message-box__headerbtn .el-message-box__close {
	display: block;
}
.el-message-box__content {
  padding: 10px 30px;
  font-size: 14px;
}
.el-message-box__form {
  border-bottom: 1px solid #DCDCDC;
}
.el-message-box__btns {
  padding: 25px 30px 35px;
  text-align: center;
}
.el-button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #F26D00;
  border: none;
  color: #fff;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: .1s;
  font-weight: normal;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: 10px 34px;
  line-height: 20px;
  font-size: 14px;
}

.el-message-box__form h6 {
	font-size: 14px;
	color: #999;
	line-height: 25px;
	margin-bottom: 10px;
	font-weight: normal;
}
.fill-sele-conf1 {
	width: 210px;
}
.fill-input-wap {
	display: inline-block;
	position: relative;
}
.fill-select-wap .fill-sele-conf2 {
	width: 120px;
}
.el-message-box__form .product-fill-input {
	margin-bottom: 20px;
}
.icon-sele-time {
	position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  width: 28px;
  border: 1px solid #DCDCDC;
  background: #fff url(../imgs/icon-time.png) center no-repeat;
  z-index: 2;
}
.fill-sele-conf2 {
	width: 100px;
}

.el-message-linet {
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	color: #F26D00;
	margin-bottom: 20px;
	margin-top: 30px;
	font-weight: normal;
}
.el-message-linep {
	font-size: 14px;
	line-height: 20px;
	color: #333;
	text-align: center;
	margin: 0 38px;
}
.fill-sele-pay1 {
	width: 210px;
	color: #F26D00;
}
.fill-sele-paytxt {
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	margin-top: -10px;
	margin-bottom: 12px;
}
.fill-sele-paytxt font {
	color: #F26D00;
}
.pay-sele-mbox {
	overflow: hidden;
	zoom: 1;
	padding-top: 10px;
	margin-left: -10px;
}
.pay-sele-mbox li {
	float: left;
	width: 98px;
	height: 28px;
	text-align: center;
	line-height: 28px;
	font-size: 14px;
	font-weight: bold;
	color: #333;
	border: 1px solid #DCDCDC;
	overflow: hidden;
	margin: 10px 0 0 10px;
}
.pay-sele-mbox li.active {
	color: #F26D00;
	border-color: #F26D00;
	cursor: pointer;
}
