

.index_banner{position: relative;height: 490px; overflow: hidden; margin-bottom: 30px;}


.step-top {
	width: 100%;
	height: 120px;
	overflow: hidden;
  background: url(../imgs/step-bg.png) 100% no-repeat;
}
.step-top-item {
	position: relative;
	float: left;
	width: 33%;
	padding: 16px 0 22px;
	overflow: hidden;
	zoom: 1;
}
.step-top-item::after {
	content: '';
	position: absolute;
	top: 30px;
	bottom: 30px;
	right: 0;
	width: 1px;
	background-color: #DCDCDC;
}
.step-top-item:last-of-type::after {
	display: none;
}
.step-top-item-l {
	float: left;
	font-size: 70px;
	line-height: 82px;
	color: #FFFAF5;
	margin: 0 17px 0 35px;
}
.step-top-item-r {
	float: left;
	width: 285px;
	padding: 8px 0 5px;
}
.step-top-item-r h5 {
	font-size: 20px;
	font-weight: 600;
	color: #FFFFFF;
	line-height: 28px;
	text-transform: uppercase;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.step-top-item-r p {
	font-size: 14px;
	color: #FFFFFF;
	line-height: 20px;
}
.step-mian {
	padding: 0 30px;
	background-color: #fff;
	margin-bottom: 30px;
}
.step-mian-top {
	padding: 25px 0 18px;
	line-height: 28px;
	overflow: hidden;
	border-bottom: 1px solid #DCDCDC;
}
.step-mian-top .fl {
	overflow: hidden;
	zoom: 1;
}
.step-mian-top .fl h4 {
	float: left;
	font-size: 20px;
	font-weight: 600;
	color: #F26D00;
	line-height: 28px;
	text-transform: uppercase;
}
.step-mian-top .fl p {
	float: left;
	font-size: 12px;
	text-align: center;
	line-height: 28px;
	color: #fff;
	width: 180px;
	height: 28px;
	background: #F26D00;
	border-radius: 10px 0px 10px 0px;
	margin-left: 12px;
}
.step-mian-top .fr {
	font-size: 14px;
	color: #999;
}
.step-mian-top .fr:hover {
	color: #333;
}


.col-row-l {
	float: left;
	width: 300px;
	height: 150px;
}
.col-row-l a,
.col-row-c a,
.col-row-r a {
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.col-row-l a + a {
	margin-top: 15px;
}
.col-row-l a img,
.col-row-c a img {
	width: 100%;
	height: 100%;
	transition: transform 0.3s;
}
.col-row-l a:hover img,
.col-row-c a:hover img {
	transform: scale(1.1);
}
.col-row-c {
	float: left;
	width: 570px;
	height: 315px;
	margin: 0 15px;
}
.hot-sale-tab {
	height: 70px;
	background-color: #fff;
	margin-bottom: 15px;
	box-shadow: 0px 30px 20px -20px rgba(133, 133, 133, 0.5);
}
.hot-tab-items {
	float: left;
	width: 1110px;
	overflow: hidden;
	position: relative;
}
.hot-tab-items ul {
	font-size: 0;
	white-space: nowrap;
	position: relative;
	left: 0;
	transition: left 0.3s;
}
.hot-tab-items::after {
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
	height: 70px;
	background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}
.hot-tab-items li {
	display: inline-block;
	font-size: 16px;
	line-height: 28px;
	padding: 20px 23px;
	text-transform: uppercase;
	cursor: pointer;
	transition: all 0.3s;
	font-weight: bold;
	position: relative;
}
.hot-tab-items li:hover {
	color: #F26D00;
}
.hot-tab-items li.active {
	font-size: 20px;
	color: #F26D00;
	border-bottom-color: #F26D00;
	
}
.hot-tab-items li.active::after {
	content: '';
	position: absolute;
	bottom: -2px;
	left: 0;
	right: 0;
	height: 5px;
	background-color: #F26D00;
}
.hot-tab-btns {
	float: left;
	overflow: hidden;
	zoom: 1;
	margin-top: 20px;
	margin-left: 20px;
}
.hot-tab-btns a {
	float: left;
	width: 29px;
	height: 29px;
	border: 1px solid #979797;
	border-right: none;
	transition: transform 0.3s;
}
.hot-tab-btns a + a {
	border-left: none;
	border-right: 1px solid #979797;
}
.hot-tab-btns a.hot-tab-left {
	background: url(../imgs/top-l.png) center no-repeat;
}
.hot-tab-btns a.current.hot-tab-left {
	background-color: #F26D00;
	border-color: #F26D00;
	background-image: url(../imgs/left-fff.png);
}
.hot-tab-btns a.hot-tab-right {
	background: url(../imgs/top-r.png) center no-repeat;
}
.hot-tab-btns a.current.hot-tab-right {
	background-color: #F26D00;
	border-color: #F26D00;
	background-image: url(../imgs/right-fff.png);
}
.hot-tab-btns a.hot-tab-left:hover {
	background-position: 40% center;
}
.hot-tab-btns a.hot-tab-right:hover {
	background-position: 60% center;
}

.hot-cout-l {
	float: left;
	width: 885px;
}
.hot-cout-l .ad-pic img {
	max-width: 100%;
}
.hot-cout-mian {
	width: 885px;
	overflow: hidden;
}
.hot-cout-item {
	position: relative;
	padding: 31px 20px 32px;
	background-color: #fff;
	margin-top: 15px;
}
.hot-cout-item::after {
	content: '';
	position: absolute;
	right: -1px;
	top: 30px;
	width: 1px;
	height: 254px;
	background-color: #DCDCDC;
	z-index: 99;
}
.hot-cout-mian.owl-theme .owl-buttons div {
	width: 25px;
	height: 60px;
	margin-top: -30px;
	opacity: 1;
}
.hot-cout-mian.owl-theme .owl-buttons .owl-prev {
    left: 0px;
    background: url(../imgs/hot-l.png) no-repeat;
}
.hot-cout-mian.owl-theme .owl-buttons .owl-next {
    right: 0px;
    background: url(../imgs/hot-r.png) no-repeat;
}
.hot-cout-item .m-pic {
	width: 230px;
	height: 230px;
	margin: 12px auto 0;
}
.hot-cout-item .m-pic img {
	width: 100%;
	height: 100%;
}
.hot-cout-item p {
	font-size: 14px;
	line-height: 21px;
	height: 63px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
	margin: 33px 0 13px;
}
.hot-cout-item p:hover {
	color: #F26D00;
}
.hot-cout-item .hot-cout-price {
	font-size: 20px;
	line-height: 28px;
	color: #F26D00;
	font-weight: bold;
}
.hot-cout-item .hot-cout-free {
	position: absolute;
	top: 30px;
	right: 20px;
	width: 80px;
	height: 30px;
	overflow: hidden;
	line-height: 30px;
	text-align: center;
	font-size: 12px;
	color: #fff;
	background: url(../imgs/free-down.png) no-repeat;
}
.hot-cout-r {
	float: left;
	width: 300px;
	margin-left: 15px;
	background-color: #fff;
}
.hot-cout-rhd {
	font-size: 16px;
	line-height: 22px;
	color: #F26D00;
	padding: 15px 13px 12px;
	border-bottom: 1px solid #DCDCDC;
}
.hot-cout-rwap {
	padding: 0 20px;
	position: relative;
}
.hot-cout-rwap::after {
	content: '';
	position: absolute;
	bottom: 1px;
	left: 0;
	right: 0;
	height: 3px;
	background-color: #fff;
	z-index: 999;
}
.hot-cout-rmain li {
	width: 100%;
	padding: 15px 0;
	overflow: hidden;
	border-bottom: 1px solid #DCDCDC;
}
.hot-cout-rmain li a {
	display: block;
	overflow: hidden;
}
.hot-cout-rmain li .m-pic {
	float: left;
	width: 80px;
	height: 80px;
	margin-right: 14px;
}
.hot-cout-rmain li .fl {
	width: 160px;
}
.hot-info-top {
	overflow: hidden;
}
.hot-cout-rmain li .atvr-img {
	float: left;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 10px;
}
.hot-cout-rmain .hot-info-top h6,
.hot-cout-rmain .hot-info-top p {
	float: left;
	font-size: 12px;
	height: 14px;
	line-height: 14px;
	color: #F26D00;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-weight: normal;
}
.hot-info-intr {
	font-size: 14px;
	line-height: 20px;
	height: 40px;
	color: #333;
	margin-top: 8px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}

.shopping-warp {
	margin-left: -7px;
	margin-right: -7px;
}
.shopping-owl li {
	background-color: #fff;
	padding: 36px 30px 40px;
	margin: 0 7px;
}
.shopping-owl li:hover {
	box-shadow: 0px 20px 10px -10px rgba(133, 133, 133, 0.2);
}
.shopping-item-hd {
	overflow: hidden;
	zoom: 1;
	padding-bottom: 13px;
	border-bottom: 1px solid #DCDCDC;
}
.shopping-item-name {
	float: left;
	width: 115px;
	overflow: hidden;
}
.shopping-item-name .m-pic {
	float: left;
	width: 30px;
	height: 30px;
	background-color: #f6f6f6;
	border-radius: 50%;
	margin-right: 5px;
}
.shopping-item-name p {
	float: left;
	font-size: 12px;
	line-height: 30px;
	width: 70px;
	height: 30px;
	color: #F26D00;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.shopping-item-hd > p {
	float: left;
	font-size: 12px;
	line-height: 30px;
	width: 135px;
	height: 30px;
	color: #333;
	text-transform: uppercase;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.shopping-item-hd > p span {
	color: #F26D00;
}
.shopping-item-hd > font {
	float: right;
	font-size: 12px;
	line-height: 30px;
	height: 30px;
	font-weight: bold;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.shopping-items-warp {
	border-bottom: 1px solid #DCDCDC;
	overflow: hidden;
}
.shopping-items {
	margin-left: -15px;
	padding: 14px 0 22px;
	overflow: hidden;
	zoom: 1;
}
.shopping-item-m {
	float: left;
	width: 98px;
	margin-left: 15px;
}
.shopping-item-m .m-pic {
	width: 100px;
	height: 100px;
	margin: 14px 0 8px;
}
.shopping-item-m > p {
	font-size: 12px;
	line-height: 17px;
	height: 17px;
	color: #999;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.shopping-item-m > h5 {
	font-size: 16px;
	line-height: 22px;
	height: 22px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-weight: bold;
}
.shopping-item-adr {
	padding: 8px 0;
	border-bottom: 1px solid #DCDCDC;
	overflow: hidden;
	zoom: 1;
}
.shopping-item-adr .fl {
	margin-top: 6px;
	font-size: 0;
	line-height: 20px;
	color: #F26D00;
}
.shopping-item-adr .fl .icon-location {
	display: inline-block;
	width: 16px;
	height: 20px;
	background: url(../imgs/icon-location.png) no-repeat;
	margin-right: 8px;
	position: relative;
	top: 4px;
}
.shopping-item-adr .fl span {
	font-size: 16px;
	font-weight: bold;
}
.shopping-item-adr .fr {
	font-size: 12px;
	line-height: 17px;
	color: #F26D00;
	text-align: right;
}
.shopping-item-share {
	padding: 18px 0 22px;
	overflow: hidden;
	zoom: 1;
}
.shopping-item-share a {
	float: left;
	font-size: 14px;
	line-height: 20px;
	color: #333;
	margin-right: 9px;
}
.shopping-item-share a:hover {
	color: #F26D00;
}
.shopping-item-share a i {
	display: inline-block;
	width: 15px;
	position: relative;
	top: 3px;
	margin-right: 1px;
}
.shopping-item-share a i.icon-share {
	height: 17px;
	background: url(../imgs/icon-share.png) no-repeat;
}
.shopping-item-share a i.icon-like {
	height: 15px;
	background: url(../imgs/icon-like.png) no-repeat;
}
.shopping-item-share a i.icon-comment {
	width: 16px;
	height: 16px;
	background: url(../imgs/icon-message.png) no-repeat;
}
.shopping-item-share a:last-of-type {
	float: right;
}
.shopping-item-btm > a {
	display: block;
	width: 100%;
	background-color: #F26D00;
	border: none;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
	color: #fff;
}
.shopping-item-btm > a:hover {
	background-color: #f58b35;
}
.page-title-top {
	margin-top: -30px;
}
.shopping-warp {
	position: relative;
}
.shopping-warp .owl-carousel .owl-wrapper-outer {
	padding-bottom: 30px;
}
.shopping-warp .owl-theme .owl-buttons div {
	width: 30px;
	height: 40px;
}
.shopping-warp .owl-theme .owl-buttons .owl-prev {
	left: -50px;
	background-image: url(../imgs/big-l.png);
}
.shopping-warp .owl-theme .owl-buttons .owl-next {
	right: -50px;
	background-image: url(../imgs/big-r.png);
}

.attentive-warps {
	position: relative;
	padding: 50px 0 35px;
	background-color: #fff;
}
.attentive-warps .attentive-warps-tip {
	position: absolute;
	top: 0;
	left: 0;
	width: 133px;
	height: 28px;
	font-size: 12px;
	line-height: 28px;
	overflow: hidden;
	text-align: center;
	color: #fff;
	background: #F26D00;
	border-radius: 0px 0px 10px 0px;
}
.attentive-warps ol {
	overflow: hidden;
	zoom: 1;
}
.attentive-warps ol li {
	float: left;
	width: 16.6%;
	text-align: center;
	position: relative;
}
.attentive-warps ol li::after {
	content: '';
	position: absolute;
	top: 0px;
	right: 0;
	width: 1px;
	height: 110px;
	background-color: #DCDCDC;
}
.attentive-warps ol li:last-of-type::after {
	display: none;
}
.attentive-warps ol li .m-pic {
	width: 90px;
	height: 90px;
	text-align: center;
	margin: 10px auto 14px;
	transition: transform 0.3s;
}
.attentive-warps ol li .m-pic:hover {
	transform: translateY(-4px);
}
.attentive-warps ol li .m-pic img {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.attentive-warps ol li p {
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	height: 18px;
	overflow: hidden;
}
.attentive-warps + .attentive-warps {
	border-top: 1px solid #DCDCDC;
}
.choose-row {
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 60px;
}
.choose-row .col-row-3 {
	padding-left: 0;
	padding-right: 0;
	transition: transform 0.3s;
	position: relative;
}
.choose-row .col-row-3:hover {
	z-index: 2;
	transform: scale(1.02);
}




