
.login-content-item .fill-input{
	margin-right: 0;
}
.login-box {
	float: right;
	margin-top: 60px;
	margin-bottom: 60px;
	width: 360px;
	padding: 0 40px;
	height: 480px;
	background-color: #fff;
}
.login-tabs {
	padding: 32px 0 20px;
	border-bottom: 1px solid #DCDCDC;
	text-align: center;
	font-size: 0;
	margin-bottom: 40px;
}
.login-tabs a {
	display: inline-block;
	width: 50%;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	position: relative;
	font-weight: bold;
}
.login-tabs a:hover {
	color: #F26D00;
}
.login-tabs a.active {
	color: #F26D00;
}
.login-tabs a.active::after {
	content: '';
	position: absolute;
	bottom: -20px;
	left: 0;
	right: 0;
	height: 4px;
	background-color: #F26D00;
}
.from-item {
	margin-bottom: 20px;
	
}
.from-item .fill-input{
	width: 340px;
	padding: 9px;
}
.from-item .fill-input:focus {
	border-color: #F26D00;
}

.form-item > p {
	float: left;
	font-size: 14px;
	line-height: 22px;
	color: #F26D00;
	cursor: pointer;
}
.form-item > p.color_333 {
	font-size: 12px;
	color: #333;
}
.form-item > p.color_333 a {
	color: #F26D00;
}
.form-item > p > i {
	display: inline-block;
	width: 22px;
	height: 22px;
	vertical-align: middle;
	margin-right: 6px;
	background: url(../imgs/list-off.png) no-repeat;
}
.form-item > p > i.current {
	background-image: url(../imgs/list-on.png);
}
.form-item > a.fr{
	font-size: 14px;
	line-height: 22px;
}
a:hover {
	color: #F26D00;
}
.login-butn {
	margin-top: 40px;
	width: 100%;
	height: 50px;
	font-size: 20px;
	color: #fff;
	border: none;
	background-color: #F26D00;
	outline: none;
}
.login-regist-butn {
	margin-top: 20px;
}
.from-item-code {
	position: relative;
}
.from-item-code .yzm-btn {
	position: absolute;
	top: 0;
	right: 0;
	width: 118px;
	height: 38px;
	border: 1px solid #F26D00;
	text-align: center;
	line-height: 38px;
	background-color: #FFFAC3;
	color: #F26D00;
	font-size: 14px;
}
.login-regist-item {
	margin-top: -20px;
}
.error-txt {
	display: block;
	font-size: 12px;
	line-height: 14px;
	padding: 6px 0;
	color: #F26D00;
	margin-bottom: -20px;
}


.submit-success {
	margin: 113px auto 25px;
}
.regist-tip1 {
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}
.regist-p1 {
	font-size: 14px;
	line-height: 20px;
	margin-top: 4px;
	padding-bottom: 10px;
	text-align: center;
}
.login-find-box .regist-tip1 {
	margin-top: 33px;
}
.login-find-box .regist-p1 {
	padding-bottom: 30px;
}
.login-find-box .login-butn {
	margin-top: 10px;
}

/*帮助中心*/
.help-center {
	margin-bottom: 30px;
	overflow: auto;
}
.help-center input.fl {
	width: 1032px;
	padding: 16px 24px;
	line-height: 28px;
	font-size: 20px;
	background-color: #fff;
	border: none;
	color: #F26D00
}
.help-center a {
	width: 120px;
	height: 60px;
	line-height: 60px;
	background-color: #F26D00;
	text-align: center;
	font-size: 20px;
	color: #fff;
	text-transform: uppercase;
}
.help-center a:hover {
	color: #F58B35;
}
.fade {
	opacity: 0;
	-webkit-transition: opacity .15s linear;
	-o-transition: opacity .15s linear;
	transition: opacity .15s linear
}

.fade.in {
	opacity: 1
}

.collapse {
	display: none
}
.collapse.in {
	display: block
}
.collapsing {
	position: relative;
	height: 0;
	overflow: hidden;
	-webkit-transition-timing-function: ease;
	-o-transition-timing-function: ease;
	transition-timing-function: ease;
	-webkit-transition-duration: .35s;
	-o-transition-duration: .35s;
	transition-duration: .35s;
	-webkit-transition-property: height, visibility;
	-o-transition-property: height, visibility;
	transition-property: height, visibility
}

.help-center-couts > .fl {
	width: 300px;
}
.help-center-couts > .fr {
	width: 885px;
}
.help-center-couts .m-pic {
	display: block;
	width: 300px;
	height: 80px;
}
.help-center-couts .m-pic + .m-pic {
	margin-top: 10px;
}
.help-center-couts .panel-group {
	padding: 0 18px;
}
.help-center-couts .panel-collapse {
	border-bottom: 1px solid #DCDCDC;
}
.help-center-couts .panel-heading a {
	display: block;
	height: 48px;
	line-height: 48px;
	border-bottom: 1px solid #DCDCDC;
	font-size: 14px;
	font-weight: bold;
	padding-right: 20px;
	padding-left: 4px;
	background: url(../imgs/slider-t.png) 99% center no-repeat;
}
.help-center-couts .panel-heading a.collapsed {
	background-image: url(../imgs/top-r.png);
}
.help-center-couts .list-group-item {
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	padding-left: 6px;
	cursor: pointer;
}
.help-center-couts .list-group-item.current {
	font-weight: bold;
	background-color: #f5f5f5;
	background-color: rgba(220, 220, 220, 0.3);
	color: #F26D00;
}
.help-center-couts .list-group-item:hover {
	color: #F26D00;
}

.self-service {
	padding: 40px 50px 60px;
	background-color: #fff;
}
.self-service h4 {
	font-size: 16px;
	line-height: 22px;
	color:#F26D00;
	font-weight: bold;
	margin-bottom: 28px;
	text-transform: uppercase;
}
.self-service-items {
	margin-left: -30px;
	margin-bottom: 35px;
	overflow: hidden;
	zoom: 1;
	font-size: 14px;
	line-height: 28px;
}
.self-service-items li {
	float: left;
	width: 238px;
	padding-bottom: 20px;
	border: 1px solid #DCDCDC;
	text-align: center;
	margin-left: 30px;
	margin-bottom: 30px;
}
.self-service-items li i {
	display: block;
	width: 74px;
	height: 74px;
	background-position: center;
	background-repeat: no-repeat;
	margin: 39px auto 32px;
}
.self-service-items li h6 {
	font-size: 14px;
	line-height: 20px;
	height: 20px;
	margin: 0 15px 6px;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-weight: bold;
}
.self-service-items li p {
	font-size: 14px;
	line-height: 24px;
	height: 48px;
	overflow: hidden;
	margin: 0 30px;
	text-align: center;
}
.self-service-items li:hover,
.self-service-items li.active {
	border-color: #F26D00;
}
.self-service-items li.active h6 {
	color: #F26D00;
}
.help-icon-1 {
	background-image: url(../imgs/help-1.png);
}
.help-icon-2 {
	background-image: url(../imgs/help-2.png);
}
.help-icon-3 {
	background-image: url(../imgs/help-3.png);
}
.help-icon-4 {
	background-image: url(../imgs/help-4.png);
}
.help-icon-5 {
	background-image: url(../imgs/help-5.png);
}
.help-icon-6 {
	background-image: url(../imgs/help-6.png);
}
.self-service-items li.active .help-icon-6 {
	background-image: url(../imgs/help-6-active.png);
}
.self-service-lis li {
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 8px;
}
.self-service .self-service-item-cont {
	margin-left: 0;
}
.self-service-item-cont li {
	font-size: 14px;
	line-height: 28px;
	margin-bottom: 8px;
}

.self-service-items h6 {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 25px;
	line-height: 28px;
}
.self-service-items > p {
	margin-bottom: 25px;
}
.self-service-items > p.s-s-tit {
	color: #F26D00;
}

/*运费估算*/
.yf-mailing {
	padding: 30px;
	margin-top: -100px;
	margin-bottom: 20px;
	background-color: #fff;
	position: relative;
}
.yf-mailing-content {
	padding: 20px 20px 30px;
	border: 1px solid #DCDCDC;
}
.yf-mailing-content h4 {
	font-size: 16px;
	line-height: 22px;
	font-weight: bold;
	padding: 2px 0 16px;
	color: #F26D00;
}
.yf-mailing-content .yf-mailing-item {
	margin-bottom: 20px;
	margin-right: -20px;
	font-size: 0;
}
.yf-mailing-content .yf-mailing-item .fill-select-wap .fill-select{
	width: 360px;
}
.yf-mailing-content .yf-mailing-item .fill-input {
	width: 217px;
}
.yf-mailing-content .yf-mailing-item .fill-input:first-of-type {
	width: 340px;
}
.yf-mailing-estimate {
	padding-top: 10px;
}
.yf-mailing-estimate .fl {
	font-size: 12px;
	line-height: 20px;
	color: #999;
}
.yf-mailing-estimate .fl p a {
	color: #F26D00;
}
.yf-mailing-estimate .fr button {
	border: none;
	outline: none;
	width: 236px;
	height: 50px;
	background-color: #F26D00;
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
}

.yf-delive-warps {
	padding: 30px;
	background-color: #fff;
}
.yf-delive-cont {
	padding: 0 20px;
	border: 1px solid #DCDCDC;
}
.yf-delive-thead {
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	padding: 20px 0;
	overflow: hidden;
	zoom: 1;
}
.yf-delive-th,
.yf-delive-td {
	float: left;
	text-align: center;
	font-size: 14px;
	line-height: 22px;
}
.yf-delive-1 {
	width: 365px;
	text-align: left;
}
.yf-delive-2 {
	width: 147px;
}
.yf-delive-3 {
	width: 298px;
}
.yf-delive-4 {
	width: 287px;
	text-align: left;
}
.yf-delive-tr {
	padding: 15px 0;
	border-top: 1px solid #DCDCDC;
	position: relative;
  z-index: 3;
}
.yf-delive-tr .m-pic {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	overflow: hidden;
}
.yf-delive-tr .yf-td-name {
	margin-top: 26px;
}
.yf-delive-tr .yf-td-name.fl {
	margin-left: 12px;
}
.yf-delive-tr h5 {
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	margin-top: 20px;
	color: #F26D00;
	font-weight: bold;
}
.yf-delive-tr .yf-td-notice {
	font-size: 12px;
	line-height: 17px;
	color: #F26D00;
}
.yf-delive-tr .yf-td-notice span {
	display: inline-block;
	width: 14px;
	height: 14px;
	border: 1px solid #999;
	text-align: center;
	line-height: 14px;
	font-size: 12px;
	color: #333;
	border-radius: 50%;
	text-decoration: none;
	list-style: none;
	font-weight: normal;
	cursor: pointer;
}
.yf-delive-tr .yf-td-time {
	margin-top: 4px;
	font-size: 12px;
	color: #F26D00;
}
.yf-delive-tr .yf-td-time .icon-delay {
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url(../imgs/slight.png) no-repeat;
	position: relative;
	top: 3px;
}
.yf-delive-tr .yf-td-features {
	margin-top: 19px;
	height: 44px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

.freight-title {
	font-size: 14px;
	line-height: 20px;
	height: 20px;
	font-weight: bold;
	padding: 0px 10px 0px 13px;
	border-left: 6px solid #F26D00;
	margin: 16px 0 12px;
	
}
.yf-delive-tfooter {
	width: 100%;
	border-top: 1px solid #DCDCDC;
}
.freight-item table {
	width: 100%;
}
.freight-item th {
	height: 30px;
	line-height: 30px;
	background-color: #F5F5F5;
	padding: 0 10px;
	font-weight: bold;
	text-align: center;
	font-size: 14px;
}
.freight-item th:first-of-type,
.freight-item td:first-of-type {
	text-align: left;
	font-weight: bold;
	color: #333;
}
.freight-item td {
	padding: 0 10px;
	font-size: 14px;
	line-height: 28px;
	text-align: center;
	color: #F26D00;
}
.freight-item tr:last-of-type td {
	color: #F26D00;
	font-weight: bold;
	text-align: left;
}
.yf-delive-tfooter {
	position: relative;
	padding-bottom: 20px;
}
.yf-delive-tfooter::after {
	content: '';
	position: absolute;
	top: -110px;
	right: -20px;
	bottom: 0px;
	left: -20px;
	border: 3px solid #F26D00;
}
.freight-item p {
	font-size: 12px;
	line-height: 17px;
}

.freight-item-wap {
	/*-moz-column-count:2;*/
	/* Firefox */
  /*-webkit-column-count:2;*/
	/* Safari 和 Chrome */
        /*column-count:2;*/
       overflow: hidden;
}
.freight-item-wap .freight-item {
	float: left;
	width: 50%;
}
.yf-common-problem {
	background-color: #fff;
	margin: 20px 0;
	padding: 0 30px 60px;
}
.yf-common-problem h6,
.yf-latest-news .yf-latest-item1 h6 {
	font-size: 16px;
	line-height: 22px;
	color: #F26D00;
	font-weight: bold;
	text-transform: uppercase;
	padding: 22px 0 15px;
	margin-bottom: 10px;
	border-bottom: 1px solid #DCDCDC;
}
.yf-common-problem .panel {
	border-bottom: 1px solid #DCDCDC;
}
.yf-common-problem .panel-heading a{
	padding: 15px 0;
	display: block;
	font-size: 14px;
	line-height: 28px;
	color: #F26D00;
	font-weight: bold;
}
.yf-common-problem .panel-body {
	padding-bottom: 20px;
}
.yf-common-problem .panel-body p {
	font-size: 14px;
	line-height: 28px;
}
.yf-latest-news {
	padding: 0 30px 35px;
	background-color: #fff;
	overflow: hidden;
	margin-top: 20px;
}
.yf-latest-news .yf-latest-item1 {
	float: left;
	width: 383px;
}
.yf-latest-news .yf-latest-item1 ol {
	margin-top: -10px;
}
.yf-latest-news .yf-latest-item1 li {
	padding: 10px 0;
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	border-bottom: 1px solid #DCDCDC;
}
.yf-latest-item2 {
	float: right;
	width: 340px;
	height: 250px;
	margin-left: 20px;
	margin-top: 35px;
	background-color: #F5F5F5;
	border: 1px solid #DADADA;
}

.yf-delive-warning {
	padding: 28px 35px;
	margin-bottom: 20px;
	font-size: 12px;
	line-height: 20px;
	color: #F26D00;
	background-color: #fff;
}
.yf-delive-warning h6 {
	font-size: 16px;
	line-height: 22px;
	font-weight: bold;
	margin-bottom: 12px;
	color: #F26D00;
}
.yf-delive-warning h6 span {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: #F26D00;
	border-radius: 50%;
	text-align: center;
	color: #fff;
	line-height: 20px;
	font-weight: normal;
	margin-right: 8px;
}
.step-mian {
	margin-bottom: 20px;
}

/*搜索结果页*/
.search-result-wap {
	margin-top: 30px;
	background-color: #fff;
	padding: 0 50px 60px;
}
.search-result-wap dt,
.search-result-wap dd {
	padding: 10px 0;
	line-height: 30px;
	font-size: 14px;
	border-bottom: 1px solid #DCDCDC;
	color: #333333;
}
.search-result-wap dt {
	color: #F26D00;
	font-weight: bold;
}
.search-empty-wap {
	padding: 90px 0 150px;
	background-color: #fff;
}
.search-empty-wap img {
	display: block;
	width: 145px;
	height: 105px;
	margin: 0 auto 8px;
}
.search-empty-wap h5 {
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	text-align: center;
}
.search-empty-wap p {
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	font-weight: bold;
}
