.list-layer1 {
	height: auto;
}
.list-warps {
	position: relative;
	background-color: #fff;
	overflow: hidden;
}
.list-warps::after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 300px;
	width: 15px;
	background-color: #fafafa;
}
.filter-warp {
	float: left;
	width: 300px;
	margin-right: 15px;
}
.filter-items {
	padding: 0 20px;
}
.filter-items .filter-item {
	margin-bottom: 10px;
}
.filter-items .filter-item .filter-item-head {
	padding-top: 15px;
	line-height: 35px;
	border-bottom: 1px solid #DCDCDC;
	overflow: hidden;
}
.filter-items .filter-item .filter-item-head .fl {
	font-size: 16px;
	color: #333;
	font-weight: bold;
	line-height: 35px;
}
.filter-items .filter-item .filter-item-head .fr {
	font-size: 14px;
	line-height: 18px;
	margin-top: 8px;
	margin-right: 4px;
	cursor: pointer;
}
.filter-items .filter-item .filter-item-head .fr.list-down {
	width: 18px;
	height: 18px;
	background: url(../imgs/list-down.png) no-repeat;
}
.filter-items .filter-item .filter-item-head .fr.list-up {
	width: 18px;
	height: 18px;
	background: url(../imgs/list-up.png) no-repeat;
}
.filter-items .filter-item-cont {
	padding-top: 6px;
}
.filter-items .filter-item-cont li {
	margin-top: 10px;
	color: #333;
	font-size: 14px;
	overflow: hidden;
}
.filter-items .filter-item-cont li .filt-select {
	float: left;
	width: 22px;
	height: 22px;
	margin-right: 13px;
	background: url(../imgs/list-off.png) no-repeat;
}
.filter-items .filter-item-cont li.filt-selected p {
	font-weight: bold;
	height: 22px;
	line-height: 22px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.filter-items .filter-item-cont li.filt-selected .filt-select {
	background-image: url(../imgs/list-on.png);
}
.filter-checked,
.filter-checklist-color {
	overflow: hidden;
	zoom: 1;
}
.filter-checked li {
	float: left;
	padding: 5px 30px 5px 10px;
	border: 1px solid #F26D00;
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	margin: 10px 10px 0 0;
	position: relative;
	cursor: pointer;
}
.filter-checked li i {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 12px;
	height: 12px;
	background: url(../imgs/list-close.png) no-repeat;
	transition: transform 0.3s;
	
}
.filter-checked li:hover i {
	transform: rotate(90deg);
}

.filter-checklist-color li {
	float: left;
	width: 43%;
	margin-right: 2%;
}

.filt-input {
	color: #979797;
	margin-top: 15px;
	vertical-align: middle;
}
.filt-input input{
	display: inline-block;
	width: 50px;
	padding: 5px;
	height: 18px;
	line-height: 18px;
	border: 1px solid #DCDCDC;
}
.filt-input input:focus {
	border-color:#F26D00;
}
.filt-input a {
	display: inline-block;
	width: 50px;
	height: 28px;
	line-height: 28px;
	font-size: 14px;
	color: #fff;
	text-align: center;
	margin-left: 12px;
	background-color: #F26D00;
}
.filt-input a:hover {
	background-color: #F58B35;
}

.list-main {
	float: left;
	width: 885px;
}
.list-main-warp {
	padding: 0 20px;
}
.list-main-head {
	padding-top: 15px;
	line-height: 35px;
	border-bottom: 1px solid #DCDCDC;
	overflow: hidden;
}
.list-main-head .fl {
	font-size: 16px;
	color: #333;
	line-height: 35px;
	font-weight: bold;
}
.list-main-head .fl a {
	margin: 0 10px;
	font-size: 14px;
}
.list-main-head .fl a:hover {
	color: #F26D00;
}
.list-main-head .fl a .price-sort {
	display: inline-block;
	width: 6px;
	height: 4px;
	background: url(../imgs/down.png) 100% no-repeat;
	position: relative;
	top: -2px;
	margin-left: 4px;
}
.list-main-head .fl a .price-sort.active {
	transform: rotate(180deg);
}
.list-main-head .fr {
	font-size: 14px;
	overflow: hidden;
	zoom: 1;
}
.list-main-head .fr p {
	float: left;
	margin-right: 15px;
}
.list-main-head .fr .list-h-dots,
.list-main-head .fr .list-v-dots {
	float: left;
	width: 18px;
	height: 18px;
	padding: 5px;
	overflow: hidden;
	cursor: pointer;
	border: 1px solid #DCDCDC;
}
.list-main-head .fr .list-h-dots div {
	float: left;
	width: 5px;
	height: 5px;
	background-color: #D8D8D8;
	margin: 1px 1px 0 0;
}
.list-main-head .fr .list-h-dots.active div {
	background-color: #F26D00;
}
.list-main-head .fr .list-v-dots {
	border-left: none;
}
.list-main-head .fr .list-v-dots div {
	float: left;
	width: 17px;
	height: 4px;
	background-color: #D8D8D8;
	margin: 2px 0 0 0;
}

.list-main-items {
	/*padding: 0 20px;*/
}
.list-main-items ul {
	margin-left: -30px;
	overflow: hidden;
	zoom: 1;
}
.list-main-items ul li {
	float: left;
	width: 250px;
	margin-left: 40px;
	padding: 32px 0 62px;
	position: relative;
}
.list-main-items ul li.list-splice-line {
	width: 100%;
	padding: 0;
	border-bottom: 1px solid #DCDCDC;
}
.list-main-items ul li a {
	display: block;
}
.list-main-items ul li .m-pic {
	width: 250px;
	height: 250px;
	margin-bottom: 25px;
	overflow: hidden;
}
.list-main-items ul li .m-pic img {
	width: 100%;
	transition: transform 0.2s;
}
.list-main-items ul li .m-pic img:hover {
	transform: scale(1.06)
}
.list-main-items ul li .list-proname {
	font-size: 14px;
	line-height: 20px;
	height: 60px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
}
.list-main-items ul li .list-proname:hover {
	color: #F26D00;
}
.list-main-price {
	margin-top: 13px;
	overflow: hidden;
}
.list-main-price h6 {
	float: left;
	font-size: 20px;
	line-height: 28px;
	color: #F26D00;
	font-weight: bold;
}
.list-main-price > p {
	float: right;
	font-size: 12px;
	line-height: 28px;
	color: #999;
}
.list-main-flag {
	position: absolute;
	left: 0;
	bottom: 25px;
	overflow: hidden;
	zoom: 1;
}
.list-main-flag p {
	float: left;
	margin-right: 4px;
	padding: 0 9px;
	font-size: 10px;
	color: #fff;
	line-height: 20px;
	border-radius: 10px 0px 10px 0px;
}
.list-main-flag p.lsit-main-free {
	background-color: #FFA154;
}
.list-main-flag p.lsit-main-return {
	background-color: #50E3C2;
}
.list-main-items .hot-cout-free {
	position: absolute;
	top: 23px;
	right: -10px;
	width: 80px;
	height: 30px;
	overflow: hidden;
	line-height: 30px;
	text-align: center;
	font-size: 12px;
	color: #fff;
	background: url(../imgs/free-down.png) no-repeat;
}

.list-main-recommended {
	margin-top: 15px;
	margin-bottom: 60px;
	background-color: #fff;
}
.list-main-recommended .fr a {
	display: block;
	padding-right: 20px;
	font-size: 12px;
	background: url(../imgs/top-r.png) 92% center no-repeat;
	transition: transform 0.2s;
}
.list-main-recommended .fr a:hover {
	transform: translateX(3px);
}


.list-main-items.list-main-aline ul{
	margin-left: 0;
}
.list-main-items.list-main-aline ul li {
	float: none;
	width: 100%;
  margin-left: 0;
  padding: 30px 0 15px;
  border-bottom: 1px solid #DCDCDC;
  overflow: hidden;
}
.list-main-items.list-main-aline ul li a {
	padding: 0 10px;
}
.list-main-items.list-main-aline ul li .m-pic {
	float: left;
	width: 120px;
	height: 120px;
	margin-bottom: 0;
	position: relative;
}
.list-main-items.list-main-aline .hot-cout-free {
	right: inherit;
	left: 86px;
}
.list-main-items.list-main-aline ul li .list-proname {
	float: left;
	width: 240px;
	height: 120px;
	-webkit-line-clamp: 6;
	margin-left: 55px;
}
.list-main-items.list-main-aline .list-main-price {
	float: left;
	width: 143px;
	min-height: 120px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 70px;
}
.list-main-items.list-main-aline .list-main-price h6 {
	float: none;
}
.list-main-items.list-main-aline .list-main-flag {
	position: static;
}
.list-main-items.list-main-aline .list-main-flag p {
	float: none;
	margin-top: 8px;
}
.list-main-items.list-main-aline .list-price-cout {
	float: right;
  font-size: 12px;
  line-height: 28px;
  color: #999;
  margin-top: 60px;
}
.list-main-head .fr .list-v-dots.active div {
	background-color: #F26D00;
}


.cart-process {
	position: relative;
	padding: 53px 0 80px 0;
	margin: 0 180px 0 170px;
}
.cart-process .cart-process-line {
	height: 4px;
	background: url(../imgs/cart-line.png) 13px center no-repeat;
	margin-top: 13px;
}
.cart-process .cart-process-item {
	position: absolute;
	top: 53px;
	width: 300px;
}
.cart-process .cart-process-item .cart-process-dots {
	width: 26px;
	height: 26px;
	font-size: 16px;
	color: #999;
	font-weight: bold;
	text-align: center;
	line-height: 26px;
	border-radius: 50%;
	border: 2px solid #979797;
	background-color: #f5f5f5;
	margin: 0 auto;
}
.cart-process .cart-process-item p {
	font-size: 16px;
	line-height: 22px;
	margin-top: 6px;
	text-align: center;
	font-weight: bold;
	color: #333;
}
.cart-process .cart-process-item.current .cart-process-dots {
	width: 30px;
	height: 30px;
	border: none;
	color: #fff;
	background: url(../imgs/cart-p1.png) no-repeat;
}
.cart-process .cart-process-item.current p {
	color: #F26D00;
}
.cart-process .cart-process-item1 {
	left: -150px;
}
.cart-process .cart-process-item2 {
	left: 275px;
}
.cart-process .cart-process-item3 {
	right: -148px;
}

.product-purchase-box {
	background-color: #fff;
	padding: 30px;
}
.product-purchase-item {
	border: 1px solid #DCDCDC;
	padding: 22px 30px 32px 20px;
	margin-bottom: 18px;
}
.product-purchase-item h5 {
	font-size: 16px;
	line-height: 22px;
	color: #F26D00;
	margin-bottom: 16px;
	font-weight: bold;
}
.product-purchase-form {
	overflow: hidden;
	zoom: 1;
}
.product-purchase-ipts {
	float: left;
	width: 640px;
}
.purchase-contrl {
	position: relative;
	margin-bottom: 20px;
	border: 1px solid #DCDCDC;
	padding: 0 10px 0 22px;
}
.purchase-contrl.purchase-required::after {
	content: '*';
	position: absolute;
	top: 0;
	left: 0;
	width: 22px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: #F26D00;
}
.purchase-contrl input,
.purchase-contrl select {
	width: 100%;
	height: 28px;
	line-height: 28px;
	font-size: 14px;
	border: none;
}
.purchase-contrl textarea {
	width: 100%;
	height: 58px;
	line-height: 20px;
	font-size: 13px;
	resize: none;
	border: none;
}
.purchase-contrl i {
	right: 0;
}
.product-purchase-disclaimer {
	float: left;
	margin-left: 27px;
	width: 420px;
	font-size: 12px;
	line-height: 20px;
}
.product-purchase-disclaimer h6 {
	font-size: 14px;
	font-weight: bold;
}
.product-purchase-upload label {
	float: left;
	width: 50px;
	height: 50px;
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
	color: #F26D00;
	padding: 14px;
	border: 1px solid #DCDCDC;
	text-align: center;
}
.product-purchase-upload label span {
	font-size: 20px;
}
.product-purchase-upload p {
	float: left;
	width: 230px;
	font-size: 14px;
	line-height: 20px;
	margin-left: 15px;
}
.total-fl {
	float: left;
	font-size: 0;
	height: 50px;
	overflow: hidden;
}
.total-fl span {
	position: relative;
	line-height: 50px;
	top: -5px;
	font-size: 14px;
}
.total-fl font {
	font-size: 36px;
	line-height: 50px;
	color: #F26D00;
	font-weight: bold;
}
.total-fr-btns {
	float: right;
}
.total-fr-btns .y_butbutn  {
	overflow: hidden;
}
.total-fr-btns .y_butbutn .butn {
	float: left;
	font-size: 20px;
	padding: 6px 23px 8px 19px;
	border: 2px solid #F26D00;
	color: #F26D00;
	font-weight: bold;
	margin-right: 10px;
}
.total-fr-btns .y_butbutn .butn i {
	display: inline-block;
	width: 28px;
	height: 26px;
	vertical-align: middle;
	margin: -5px 10px 0 0; 
	background: url(../imgs/de-carts.png) no-repeat;
}
.total-fr-btns .y_butbutn .butn.butn_custom4 {
	color: #fff;
	background-color: #F26D00;
}
.total-fr-btns .y_butbutn .butn.butn_custom4:hover {
	background-color: #F58B35;
}
.total-fr-btns .y_butbutn .butn.butn_custom2 {
	background-color: #FFFAC3;
}
.total-fr-btns .y_butbutn .butn.butn_custom2:hover {
	background-color: #F26D00;
	color: #fff;
}

.g-company-model {
	width: 100%;
	height: 820px;
	position: relative;
}
.g-company-model > img {
	max-width: none;
	width: 1920px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -960px;
}
.g-company-item {
	position: relative;
	z-index: 3;
}
.g-company-item-head {
	padding-top: 146px;
	padding-bottom: 84px;
	color: #fff;
	text-align: center;
}

.g-company-item-head h5 {
	color: #fff;
	font-size: 40px;
	line-height: 53px;
	margin-bottom: 4px;
	text-transform: uppercase;
}
 
.g-company-item-head p {
	font-size: 18px;
	line-height: 36px;
}
.g-company-item-icon ul {
	overflow: hidden;
	zoom: 1;
	margin-left: -40px;
}
.g-company-item-icon ul li {
	float: left;
	width: 200px;
	margin-left: 40px;
}
.g-company-item-icon ul li .m-pic {
	width: 128px;
	height: 128px;
	margin: 0 auto 30px;
}
.g-company-item-icon ul li p {
	font-size: 18px;
	line-height: 30px;
	color: #fff;
	text-align: center;
}
.g-company-item-icon ul li p.aline {
	margin-top: 42px;
}
.g-company-item-butns {
	margin-top: 70px;
	font-size: 0;
	text-align: center;
}
.g-company-item-butns .c-btn {
	display: inline-block;
	width: 240px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	color: #F26D00;
	background-color: #fff;
}
.g-company-item-butns .c-btn:hover {
	box-shadow: 0 4px 8px rgba(225,225,225,0.3);
}
.g-company-item-butns .c-btn.base-color {
	background-color: #F26D00;
	color: #fff;
}
.g-company-item-butns .c-btn.black-color {
	background-color: #333;
	color: #fff;
}
.g-company-item-butns .c-btn + .c-btn {
	margin-left: 18px;
}
.black-style .g-company-item-head,
.black-style .g-company-item-head h5,
.black-style .g-company-item-icon ul li p {
	color: #333;
}
.black-style  .g-company-item-butns .c-btn:hover {
	box-shadow: 0 4px 8px rgba(48,48,42,0.3);
}
.el-message-company__wrapper .el-message-box {
	width: 500px;
	border: none;
	background-color: transparent;
	box-shadow: none;
}
.el-message-company__wrapper .v-modal {
	background-color: transparent;
}
.el-message-company__wrapper .el-message-box .el-message-box__content {
	padding-top: 83px;
}
.com-mesg-wap {
	background-color: #F26D00;
	padding: 10px;
}
.com-mesg-box {
	border: 1px solid #fff;
	text-align: center;
}
.com-mesg-box .m-pic {
	width: 153px;
	height: 241px;
	margin: -83px auto 0;
}
.com-mesg-box a {
	display: inline-block;
	width: 340px;
	height: 50px;
	background-color: #333;
	color: #fff;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	position: relative;
	top: -50px;
}
#elMessage3.el-message-company__wrapper .el-message-box {
	width: 800px;
}
#elMessage3.el-message-company__wrapper .el-message-box .el-message-box__content {
	padding-top: 10px;
}
.com-mesg-box h6 {
	font-size: 16px;
	line-height: 22px;
	padding: 20px 28px;
	text-align: left;
	font-weight: normal;
	color: #fff;
}
.com-mesg-box .com-form-item {
	margin: 0 28px 20px;
	font-size: 0;
}
.com-mesg-box .com-form-item input,
.com-mesg-box .com-form-item textarea {
	width: 100%;
	display: inline-block;
	font-size: 14px;
	color: #333;
	background-color: #fff;
	border: none;
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
	box-sizing: border-box;
}
.com-mesg-box .com-form-item input + input {
	margin-left: 10px;
}
.com-mesg-box .com-form-item textarea {
	height: 86px;
	resize: none;
}
.com-mesg-box .Submit-black {
	display: block;
	width: 340px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	background-color: #333;
	color: #fff;
	margin: 40px auto 34px;
	position: static;
	top: 0;
}
.con-advent-banner {
	width: 1920px;
	position: relative;
	left: 50%;
	margin-left: -960px;
}
.all-kinds {
	padding: 0 50px;
	background-color: #fff;
	margin-bottom: 20px;
}
.all-kinds h4 {
	font-size: 18px;
	line-height: 40px;
	padding: 20px 0;
	border-bottom: 1px solid #DCDCDC;
	font-weight: bold;
}
.all-kinds-items ul {
	padding: 45px 0 35px;
	margin-left: -40px;
	overflow: hidden;
}
.all-kinds-items ul li {
	width: 340px;
	float: left;
	margin-left: 40px;
}
.all-kinds-items ul li .m-pic {
	border: 1px solid #DCDCDC;
	height: 154px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.all-kinds-items ul li p {
	font-size: 12px;
	font-weight: bold;
	line-height: 40px;
	margin-top: 10px;
	text-align: center;
}

.all-kinds .product-recommend-list {
	margin: 0 -50px;
	padding: 0px 30px 10px 50px;
}
.all-kinds-five .all-kinds-items ul {
	margin-left: -20px;
}
.all-kinds-five .all-kinds-items ul li {
	width: 204px;
	margin-left: 20px;
}
.all-kinds-four .all-kinds-items ul {
	margin-left: -20px;
}
.all-kinds-four .all-kinds-items ul li {
	width: 260px;
	margin-left: 20px;
}

.Cooperation-items {
	overflow: hidden;
	zoom: 1;
	margin-left: -15px;
	margin-bottom: 20px;
}
.Cooperation-items .Cooperation-item {
	float: left;
	width: 390px;
	height: 210px;
	background-color: #fff;
	overflow: hidden;
	margin-left: 15px;
}
.Cooperation-items .Cooperation-item .m-pic {
	float: left;
	width: 61px;
	height: 61px;
	border-radius: 50%;
	overflow: hidden;
	margin: 24px 12px 0 28px;
}
.Cooperation-items .Cooperation-item .Cooperation-info {
	float: left;
	width: 260px;
	padding: 40px 0;
	font-size: 14px;
	line-height: 24px;
}
.Cooperation-items .Cooperation-item .Cooperation-info h5 {
	font-size: 17px;
	color: #F26D00;
	margin-bottom: 10px;
}
.bgc_e8e8e8 {
	background-color: #E8E8E8;
	margin-top: 100px;
	padding-top: 40px;
	padding-bottom: 100px;
}
.service-consu {
	padding: 86px 0 95px;
}
.service-consu a {
	display: block;
	margin: 0 auto;
	width: 406px;
	height: 56px;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	line-height: 56px;
	text-align: center;
	background-color: #F26D00;
}
